[2015-09-11 19:37] garlick commented on #402
Looks like that symbol was [added](http://upstream.rosalinux.ru/compat_reports/hwloc/1.3.3_to_1.4/abi_compat_report.html#Added) in hwloc-1.4

The travis-ci is based on 12.04-LTS and [hwloc packaged with 12.04-LTS](http://packages.ubuntu.com/precise/hwloc) is 1.3.1.

So maybe we need to build hwloc on the side?

[2015-09-11 20:06] grondo commented on #402
Oh, good find.

I wonder if this is why flux-wreckrun using resource.hwloc failed in travis? Do the default modules loaded in the broker cause a panic if they fail to load?

There should also be a check for this in configure

[2015-09-11 20:09] grondo commented on #402
Oops I do now see your issue #403, and your build mods above,  so my questions above.

[2015-09-11 21:28] #401 closed

[2015-09-11 21:28] #402 closed

[2015-09-11 21:28] #403 closed

[2015-09-14 22:39] garlick commented on #362
Revisiting this:

I think for GUI updates, actually you want something like libev's [prepare watcher](http://doc.dvgu.ru/devel/ev.html#ev_prepare_and_ev_check__customise_your_event_loop_) not the [idle watcher](http://doc.dvgu.ru/devel/ev.html#ev_idle__when_you_ve_got_nothing_better_to_do___) discussed above.

When there is a "started" idle watcher, the event loop never blocks.   In contrast, the

[2015-09-14 22:55] trws commented on #362
To keep the gui responsive, the idle might actually be more suitable.  I could see uses for both, prepare being more suitable for any case where I'm printing updates but not interacting with a user, and idle for cases where interactivity is expected.  If one is materially more practical than the other, I could make do with either one though I think and simplify things a good amount from where they

[2015-09-16 22:17] trws commented on #398
Funny meta-thought on this.  We'll need a bootstrap system for running an initial flux instance across systems that don't have a resource manager set up at some point, and it occurs to me that the rsh-tree hydra backend may be a convenient way to do that until we have something of our own.

[2015-09-16 23:33] garlick commented on #296
Closing as the message dispatcher and reactor are being refactored a different way

[2015-09-16 23:33] #296 closed

[2015-09-18 00:09] trws opened #411 "Specifying only n-nodes without n-tasks causes wreck/pmi failures"
Having gotten some of the kinks worked out of profiling a broker, I went to run some MPI tests with it, and seem not to be able to run anything MPI-based on more than one node.

On a single node, mpi_hello works fine, though 3 seconds seems... unfortuante... for just four processes:
[code]

Running it on four nodes, one process per node, initially gave me one task on one node and PMGR collective e

[2015-09-18 01:40] garlick commented on #411
You might try setting `PMI_TRACE=255` in your environment to see that our PMI is being called.

Also check wreckrun `printenv FLUX_TASK_RANK FLUX_JOB_SIZE`.  wrexecd should be setting those for our PMI to pick up.

[2015-09-18 02:14] grondo commented on #411
This is probably related to specifying only `-N4` on the command line. Can you try being explicit with `-n4 -N4`? Likely ntasks is using a wrong default and this is being propagated to PMI environment.

[2015-09-18 02:35] dongahn commented on #411
I agree with Jim. I can think of various ways our pmi is not being called. DT_NEEDED of the binary could required a versioned pmi SO for example. libpmi.so.1

You may want to look at the actual SO dependency using an utility like ldd.

Then, make sure flux provides exactly that named pmi SO. You might also want to change the rpath of the mpi_hello using chrpath to point it to our directory.

[2015-09-18 03:15] grondo commented on #411
This bug was probably introduced by decff66f, where `wreck.ntasks` is set to `nnodes` when `ntasks < nnodes` but the kvs is not updated. This stuff is all very ad-hoc right now, so a bit brittle. I've verified things work if I provide `-N4 -n4` for now.

BTW, for the `/opt` version of mvapich2-gnu-psm you should not need to use `LD_PRELOAD`. `LD_LIBRARY_PATH` is set appropriately (in a builddir at

[2015-09-18 03:32] grondo commented on #411
I got 16 nodes on hype and verified up to 1024 tasks works fine when you get flux's PMI:
[code]

[2015-09-18 03:54] grondo commented on #411
I can't reproduce this one, though I occasionally do see slowness.
But most of the time:
[code]

[2015-09-18 16:56] trws commented on #411
Thanks for all the feedback on this.  I should have mentioned that if I use the mvapich from opt it normally starts quickly, but the one from dotkit pretty much always takes at least 2.75 seconds, which seems to be a result of using pmgr.  Somehow this makes me think PMGR is not a good default for our mpich builds...

Making sure that I always use `-n 4 -N 4` seems to get the job done, but losing

[2015-09-18 17:13] grondo commented on #411
Let's retitle and keep this issue. I've got a fix for `flux-wreckrun` (I think) but need to figure out how to write some tests.

On PMGR, I'm not even sure how that version is working with flux. Is it connecting back to srun somehow?  We should probably figure out if that is the case and determine how to prevent it. Running a non PMI PMI under flux wreckrun should cause a hard or other easily dete

[2015-09-18 18:10] trws commented on #411
Ok, I'll retitle momentarily.  As to the timing, that's a good point, and I just retried it.  Full output is below, but the relevant parts are, I think and please correct me if I'm mistaken, the task 0 starting at 1442599314.135360 and 2 dying last at 1442599316.343882, which when reduced out from the initial timestamp are 0.36 and 2.56.  So, it takes about half a second to launch everything, the

[2015-09-18 18:24] trws commented on #411
Since it's MPI, I took a quick tau trace (still working on something else, but perf works on cab, so that's something).  This is where the time is going:

[code]
Almost all in finalize.

Perf tells me that nearly all of that is in the PSM layer, so it's waiting on comms.  A merged perf with broker 0 and mpi_hello_opt rank 0 makes it look like the delay might actually be on the mvapich side, since

[2015-09-18 20:15] grondo commented on #411
Thanks for new title! Want to cut and paste the perf and tau outputs above into a new issue? Seems like relevant data to keep around, but unrelated to the current issues.

Also, I'm wondering if "PMGR occasionally pretends to work" should also be its own issue?

[2015-09-18 20:24] garlick commented on #398
@trws I could not decipher the Argonne end of the call this morning due to the bad audio.  Would you mind summarizing the next steps here?  (Thanks)

[2015-09-18 20:27] trws opened #412 "PMGR occasionally pretends to work"
When running multiple tasks on one node, `flux wreckrun -n 4 ./mpi_hello` say, pmgr works, and makes it seem as though PMI and MPI generally are working correctly though very very slowly.  Running the same way across multiple nodes, just changing to `-N`, causes the one on the master node to run correctly with a task count of 1 and the others to fail with PMGR errors.  If possible we should find a

[2015-09-18 20:33] trws commented on #398
Thanks for the reminder @garlick, I meant to do this earlier, but had a meeting with Robin about using flux/capacitor for some of the high-throughput users they've been seeing on Catalyst and it slipped out of cache.  One or two feature issues will be popping up shortly from that.

next-steps:
- Argonne:
  - will produce some documentation for the PMI "simple" v1 wire protocol
  - may keep us in t

[2015-09-18 21:47] grondo commented on #398
@trws, For now `flux exec hostname > file` might work.
Is there documentation on "PBS nodefile semantics"?

I was thinking on the call that if we want to optionally produce a nodefile, this is something that could be done in an initial program...

[2015-09-18 21:56] trws commented on #398
It's a bit more than just a list of hostnames.  The general format is either hostname replicated once per core to be used on that host, or `hostname:num-cores` iirc.  SchedMD apparently offers a `generate_pbs_nodefile` for slurm now that you can see [here](https://github.com/SchedMD/slurm/blob/master/contribs/torque/generate_pbs_nodefile.pl) that does it the first way.  It can also carry some extr

[2015-09-18 22:05] grondo commented on #398
Ok, I was thinking it was just a list of hostnames (e.g. `SLURM_NODELIST`).

I was thinking a per instance hostlist could be generated optionally via an rc-like scriptlet once we had an initial program structure that could accomplish that. Sounds like you'd need to generate possibly a different one per `mpiexec` invocation so that won't really work here.

[2015-09-18 22:05] garlick commented on #398
Are we expecting Flux to launch a hydra-bootstrapped MPI program directly, or through a sub instance?

[2015-09-18 22:13] trws commented on #398
Sub instance.  It's just so someone could run mpiexec inside a flux instance and have it work as expected.  The user would do something like:

[code]

The mpiexec then would use flux under the covers to bootstrap itself, then bootstrap the job.  It's an extra level of portability is all, since a lot of people have batch scripts that use hydra options for rank distribution and binding options, whic

[2015-09-18 22:35] grondo commented on #398
@trws, I definitely prefer if hydra requests the nodelist only when it needs it. I wonder if they've thought of having the code for getting the nodelist and launching their daemons dynamically loadable? Then RMs could provide their own hooks for this stuff instead of adding it directly to hydra codebase (maybe they already do this, I don't know)

On the initial program thing I was getting ahead of

[2015-09-18 22:41] trws commented on #398
@grondo that did actually come up in the conversation at Cluster, though I had forgotten it until you mentioned it.  Hydra uses dynamic loading to pick up libraries for this kind of thing from some versions of PBS descendants, but frequently runs into problems with installations using the wrong system because they don't find the library the user thought it would find.  It's the same issue we're ha

[2015-09-18 22:43] trws commented on #398
I should say, I suggested offering a library call, and was explicitly asked for something else in that conversation.  Badly configured library setups apparently account for a non-trivial percentage of their support volume.

[2015-09-18 23:29] garlick commented on #398
So is the idea that mpiexec will use our scalable program launch to start the hydra daemons?  (sorry, I know you asked that this morning but I either forgot or didn't hear the answer)

[2015-09-18 23:37] trws commented on #398
Only for the case where hydra is being used as the bootstrapper, which should only be for users who have pre-existing hydra/mpiexec-based batch scripts they want to keep using.  It's just the easier way for them to set up hydra support for flux in the short term, since it already has its own overlay etc.  As I think I mentioned earlier though, the idea is really to support two models so that a use

[2015-09-18 23:40] garlick commented on #398
Understood - I meant to ask if in the first case, mpiexec is using rsh or equivalent to start its daemons on the hosts in the nodelist, or if flux would be launching them as a parallel program.

[2015-09-18 23:44] trws commented on #398
Sorry, I wasn't sure.

It can technically do either, but normally it uses whatever the native mechanism is since that tends to be rather faster than doing an rsh-tree on the raw nodes.  In our case, the biggest part of supporting flux in hydra is having it use our job-launch facilities, like it uses srun in slurm currently.  That's just step two, and something we didn't talk about on the call toda

[2015-09-21 01:47] trws commented on #339
At least with use of capacitor, or wreckrun if oversubscription is acceptable, I would consider this issue complete.  It's not completely stable, but that's what the other issues under the milestone are about.  Others ok with closing?

[2015-09-21 02:02] grondo commented on #339
Sounds good to me! Thanks!

[2015-09-21 02:07] lipari commented on #339
I'm ok with closing as well.

[2015-09-21 02:23] garlick commented on #339
Perhaps a silly question but is any form of test demonstrating that this works appropriate to pull into core and x-ref to the issue?

[2015-09-21 02:58] trws commented on #339
Not a silly question, ideally we should have a test that actually does a submission of this many jobs and ensures they run to completion without oversubscription.  Because of the way the project is decomposed, the closest we can get would probably be a stress-test that would run this many jobs of this size profile as fast as possible, and ensure they don't crash.  I can throw one together, but we

[2015-09-21 18:14] #281 closed

[2015-09-23 22:03] #411 closed

[2015-09-23 23:07] grondo commented on #364
Is there more to do here, or can we close this particular issue?

[2015-09-23 23:09] grondo commented on #360
Fixed in 7bbb26c

[2015-09-23 23:09] #360 closed

[2015-09-23 23:15] grondo commented on #295
I think we should bubble this one up.

Would it be acceptable to have a basic, bare minimum sched in core that does fcfs scheduling using resource-hwloc, and can be used in testing within flux-core for anything that expects the base scheduler interfaces to be present (e.g. job.create, flux-submit, job specification lint, etc.)?

I would think this would be quick to implement and would not require

[2015-09-23 23:18] trws commented on #295
That sounds like exactly what this was meant to be about.  It would
still have to be able to accept the same kind of job spec, but it
wouldn't have to be able to do any kind of fancy scheduling, no
backfill, no nothing, just find free resources and pack them in.

On 23 Sep 2015, at 16:15, Mark Grondona wrote:

[2015-09-23 23:19] dongahn commented on #295
This sounds great to me.

[2015-09-23 23:19] grondo commented on #234
@dongahn, what is the current state of things regarding this Issue? Is wreck patched up enough that we can close this one?

[2015-09-23 23:20] dongahn commented on #234
I believe so. I am not aware of any pending issue. Please close it.

[2015-09-23 23:37] grondo commented on #166
Fixed in 5990b6ad

[2015-09-23 23:37] #166 closed

[2015-09-23 23:42] grondo commented on #112
I think this issue was caused directly/indirectly by other wrexecd bugs at the time of this report. At this point, wrexecd is known not to work with lua5.2 until luastack is fixed up, but no hangs for awhile on other combinations of software, so I think I'll close this out and open a new bug once Lua 5.2 is supported if we see any issues.

[2015-09-23 23:42] #112 closed

[2015-09-23 23:44] grondo commented on #62
Lua 5.2 works for the bindings. The one place that still doesn't work with Lua 5.2 is the `luastack` code that is used for wrexecd plugins. An entire new scheme for handling thread-local or plugin-local global tables needs to be established to support Lua 5.2, where threads now share the same globals table.

I'll rename this issue to reflect that.

[2015-09-23 23:45] #234 closed

[2015-09-23 23:56] lipari commented on #295
I guess I'd rather see flux-sched's rdl, resrc, and sched components migrated into flux-core.  The sched project was designed to support multiple plugins that include FCFS scheduling (currently implemented in schedplugin1).  This would allow us to work off a single flux-submit.  And it would eliminate [Issue 56](https://github.com/flux-framework/flux-sched/issues/56).  But mostly it would save us

[2015-09-24 00:03] grondo commented on #41
@garlick, is `flux screen` still useful?  It doesn't seem to work at all anymore, and with recent enhancements to flux-broker and flux-start  and logging it doesn't seem all that necessary.
If you think it is still useful I could take a look at it, if not I'd be fine with removing the tool and closing this issue.

[2015-09-24 00:04] grondo commented on #20
`flux-wreckrun` now uses internal `flux.hostlist`, so this shouldn't be a problem

[2015-09-24 00:04] #20 closed

[2015-09-24 00:05] grondo commented on #11
Yeah, I think we can close this one now ;-)

[2015-09-24 00:05] #11 closed

[2015-09-24 00:06] trws commented on #11
Oddly, we have one much like this on broker now under some odd corner cases... if I can reproduce it I'll open another bug, but this one is ready to be gone. =)

[2015-09-24 00:08] trws commented on #295
That would be ideal as far as I'm concerned.  It's probably worthwhile to keep keep the un-core functionality, simulator and some test support code, separate but having sched in core where we can integrate it into check test it and depend on a version of it existing would be a **huge** win in my book.

[2015-09-24 00:38] garlick commented on #41
I'm good with removing it.

[2015-09-24 00:39] dongahn commented on #295
If we were to take this route, we will probably want to clearly define what part of sched belongs to core and what part to un-core as soon as possible and do the surgery.

I guess the scheduler framework service would be a part of the core along with some basic scheduler plugin(s), rdl,  resrc and some utilities like waitjob. This will allow other external projects to write their own custom schedu

[2015-09-24 00:54] garlick commented on #295
I second @dongahn's hesitation about merging all or a large chunk of flux-sched into flux-core.  The current split does allow flux-sched to be developed more or less independently of flux-core, and presumably in a more agile manner than we've settled in on with flux-core.  Clearly we need better integration but perhaps the approach outlined in this issue is sufficient for the time being?

[2015-09-24 01:06] dongahn commented on #295
@garlick: I have a mixed feeling about this, but I do think it is a great idea to carve out a part of sched into the core (in particular the framework service part). There are lot of benefits with tigher integration with core, IMHO. So it seems this begs a question, when is the good time if it is not now and how we can grow sched so that in the end it can be separable. If this is not the right tim

[2015-09-24 01:13] grondo commented on #295
Yeah, I think the idea would be to have a basic sched module in flux-core which
 - hardly ever needs to change
 - when it does need to change the code is small and simple enough for even 3rd party developer could make necessary mods and it will be easy to write tests with good coverage

Keeping the sched module in core to a minimum seems like the most straightforward approach for now.

[2015-09-24 01:41] garlick commented on #364
I'm thinking it can be closed but let's get an ack from @dongahn.

[2015-09-24 03:24] dongahn commented on #364
From my perspective this is really nicely done. But to make sure, @surajpkn, could you ack since you are the main user of this capability?

[2015-09-24 16:31] grondo commented on #22
We could fix this by incorporating m4 macro I've found to do recursive eval. However, reading comments in configure, these variables are *purposefully* not expanded because GNU says prefix should have the ability to be overridden at `make` time: http://www.gnu.org/prep/standards/standards.html#Directory-Variables

Ideally I think we'd get rid of `x_ac_expand_install_dirs.m4`, these expanded dirs a

[2015-09-24 16:43] garlick commented on #22
I think we could go ahead and get rid of those macros, however now I'm wondering about other variables we set in configure.ac such as:
[code]
which are then compiled in to executables, e.g. src/cmd/Makefile:
[code]
Doesn't compiling these in also violate the autoconf standard quoted above?

[2015-09-24 17:04] surajpkn commented on #364
Yes, this issue can be closed. Thanks again for this piece!

[2015-09-24 17:27] trws commented on #295
Fair enough, so let's define what things are currently considered part of the scheduler that need to be in core, and what they need to do to get us where we need to be.  I'm going to update the top-level issue here and put in a proposed checklist with a breakdown, if we agree on the items I'll break it into sub-issues.

[2015-09-24 17:56] grondo commented on #295
Thanks @trws. I propose the tasks as follows:

 - augment current job module in core (actually replace it, nothing there worth saving) to have job.submit or similar interface as you suggested.
 - develop a scheme for interested entities to register with job module to act as filters on submit. Filters should be able to reject, amend, and/or add warnings to submit response.
 - develop a small schedu

[2015-09-24 17:59] garlick commented on #364
Thanks, that was actually a fun one for me.  It was nice having you guys put a little pressure on this part of the design. :-)

[2015-09-24 17:59] #364 closed

[2015-09-24 18:20] grondo commented on #22
Hm, yeah.. maybe this isn't a tractable problem.

[2015-09-24 18:27] garlick commented on #22
If the rule is that the prefix can be changed at install time, is it sane to generate a config file at that time that includes these paths?  Though I guess we would minimally have to hardwire the path to the config file...

[2015-09-24 19:36] trws commented on #295
Agreed.  Could you tackle the job module, just assume a string blob for spec properties, and I'll look into doing the basic scheduler? I need to prototype something to handle the job spec syntax for core anyway, and that will be a non-trivial portion of it, it may also be able to lean on the hwloc code to do its layouts...

Anyway, the only point of contention I see might be the interface to actua

[2015-09-24 22:32] grondo commented on #22
That sounds painful, and I'm kind of doubting we could address this easily. As such, I propose recursive eval approach for now?

If so I can open simple PR against [grondo/issue#22](https://github.com/grondo/flux-core/commits/issue%2322)

[2015-09-24 23:44] grondo commented on #398
Just a follow up note here on Intel MPI. A discussion on slurm-dev mail list revealed [this](http://slurm.schedmd.com/mpi_guide.html#intel_srun) reference that implies that you can switch the Intel MPI PMI library at runtime by setting `I_MPI_PMI_LIBRARY=/path/to/libpmi.so` in your environment.

[2015-09-25 00:32] garlick opened #415 "libutil/coproc test needs work"
We observed the test_coproc.t test passing on travis-ci with this output
[code]

The 'coproc segfaulted' test needs to be fixed so that it doesn't produce an extra test result if its callback manages to get executed.

Why is the test showing an overall PASS?  It calls the libtap `done_testing()` macro, which in turn calls this function and returns its function return code as the exit code:
[code]

[2015-09-25 01:17] #362 closed

[2015-09-25 04:31] grondo commented on #415
Unfrotunately, the code we actually have in tree for `exit_status ()` is:
[code]

This is clearly a bug, since if the last test fails when your plan calls for 1 less than the actual tests, retval will be zero here.

To fix the invalid test failure we probably just need to update to the latest libtap from upstream, which I think has the code you reference above. (I did that and verify the test now

[2015-09-25 05:01] garlick commented on #415
Sorry about quoting the wrong code - I discovered the same thing and updated libtap in my tree and verified it also.  Should have posted here as soon as I discovered it!

Anyway tomorrow I'll try to get the test fixed.  If it's consistently failing in clang that's surprising - we're attempting to trigger a SIGSEGV by touching an mprotected page, and I would have thought that would work anywhere.

[2015-09-25 05:31] #22 closed

[2015-09-25 13:41] garlick opened #417 "segfault at flux_close() if message watchers not destroyed first"
As discussed in flux-framework/flux-sched#72, leaking a message handler in a comms module now causes a segfault due to the way the reactor and dispatcher are both cached in the handle aux cache, and at `flux_close()` are destroyed in the wrong order.  That is the reactor is destroyed, then the dispatcher is destroyed, which destroys the dispatcher handle watcher, which segfaults due to the stale r

[2015-09-25 15:38] #417 closed

[2015-09-25 15:50] grondo commented on #398
FYI -- more info about OpenMPI PMIx and mvapich PMIX from recent discussion on  slurm mail list:

 https://groups.google.com/forum/#!topic/slurm-devel/eCO9gBmTsTg

[2015-09-25 16:29] trws commented on #398
Ugh... mvapich pmix... why...

Well, the list to support everyone "natively" now looks like:

* mvapich1: pmgr
* mpich2 derivatives: pmi simple wire protocol, or api override at build time, eventually pmi3 probably
* openmpi: PMIx, their PMI1/2 interface actually builds on top of this, so... yeah. re-compile to non-PMIx pmi to support PMI1/2 API library

fun...

[2015-09-25 16:53] grondo commented on #398
This might be useful later so I paste it here, the beta SLURM PMIx module:

https://github.com/artpol84/slurm/tree/pmix-step2/src/plugins/mpi/pmix

[2015-09-25 17:02] grondo commented on #398
Oops, should my last two comments go in #365?

[2015-09-25 17:22] grondo commented on #365
Other references copied from #398:
https://groups.google.com/forum/#!topic/slurm-devel/eCO9gBmTsTg
http://slurm.schedmd.com/SLUG15/PMIx.pdf
https://github.com/artpol84/slurm/tree/pmix-step2/src/plugins/mpi/pmix

[2015-09-25 17:25] grondo commented on #295
Meant to reply that yes, I'll work on something for the job module. Design is a bit fluid at this point so I'll try to start a discussion over in #338

[2015-09-25 17:49] grondo commented on #338
Ok, I'd like to implement something quickly here that supports work for #295, and implements the service described above.

Going back to #268, we had proposed an off-the-cuff job submit protocol like:
[code]

Given more recent developments, what changes need to be made here? Seems like the "spec" we've been talking about actually could subsume cmdline and resources at the least. Do we need to simp

[2015-09-25 19:28] trws commented on #338
Just a thought, but we could say that the job module is, itself, a distributed service, and registering modules can note whether they need global information or not.  That way, the job.create, job.submit and the first several checks like feasibility could probably happen in the local broker's version of the module before passing the id to a, currently presumably centralized scheduler.  Not sure if

[2015-09-25 20:26] grondo commented on #338
I wasn't saying there was a lua component to the user blob sent in the request, though some functionality like that may one day be useful (user "preference" function for example, but wouldn't need to be Lua). For now I was thinking filters would be registered as small lua scriptlets that could do one or more of the following
 * modify the job request or jobspec directly (e.g. slurm's job_submit pl

[2015-09-25 21:07] trws commented on #338
When as and if it becomes available, I would go for an asynchronous atomic update somewhere in the kvs to get it, or better yet use a consensus protocol like raft (#370) to get one in a distributed fashion from the get-go.  For right this minute though, we already depend pretty deeply on UUIDs being unique.  It could just be hidden behind a "get_job_id" smokescreen that for now generates UUIDs, sw

[2015-09-25 21:27] #415 closed

[2015-09-25 21:59] garlick commented on #338
Random comment:  maybe a job id should be a UUID plus user-supplied tag?  As long as the tag is unique it could be used as a user-friendly handle for the job (listing output, command input, etc), with abbreviated UUID optionally thrown in to disambiguate?

I'm a fan of avoiding the need for distributed jobid generation if sequential jobids are merely an artifact of past monolithic designs and not

[2015-09-25 22:09] trws commented on #338
As long as it's unique, I think we're good.  Allowing a user to specify a tag sounds like a good idea to me, it could even be something crazy-simple like `<tag>-<hostname>-<broker-tid>-<timestamp>`, as long as it's unique.  Actually, I've used almost exactly that as the unique primary key on quite a number of database tables to avoid the use of "AUTO_INCREMENT," which tends to result in a global l

[2015-09-25 22:14] grondo commented on #338
Yes, good idea on the uuid, I was suggesting hash of contents because requesting entity could know a priori what the ID would be, but other than there is no benefit and a UUID is just as good (already used in `cmb.exec` service anyway).

I like the idea of user tag, generated by a filter if not supplied. This will make viewing/searching for jobs much more user friendly. We'd also want a way to at

[2015-09-25 22:17] trws commented on #338
Not exactly.  Making it possible to run several copies of a scheduler
that are more-or-less stand-alone but act against the same pool of
resources.  The net result would be a distributed scheduler I suppose,
but I wasn't thinking of anything quite fancy enough to be worthy of the
name.  Basically, it's safe to ignore that paragraph as a thought
experiment.

On 25 Sep 2015, at 15:14, Mark Grondona

[2015-09-26 16:10] garlick commented on #398
It looks like there are ubuntu packages for mpich.  On my 14.04LTS system I was able to install
[code]
it appears to have been compiled without pmi options:
[code]
I confirmed that this version does something when I set PMI_FD in the environment of mpi_hello compiled with it, so based on [simple_pmi.c](https://github.com/adk9/mpich/blob/master/src/pmi/simple/simple_pmi.c) I conclude it must be cap

[2015-09-26 16:33] trws commented on #398
Yeah. If you give no PMI option that's what you get. You can also give mpich derivatives multiple PMIs then select the one you want at runtime by name with another environment variable. The default one will implement both the v1 and v2 wire protocols iirc, but apparently the v2 protocol is out of favor at the moment.

OpenMPI used to be able to do something similar, but I haven't tried since this

[2015-09-26 19:52] garlick commented on #398
spelunking [src/pmi/simple](https://github.com/adk9/mpich/blob/master/src/pmi/simple) the wire protocol appears to consist of:

Server sets `PMI_FD`, `PMI_SIZE`, `PMI_RANK`, and optionally `PMI_DEBUG` and `PMI_SPAWNED` env vars to integer values for client.  Client initiates protocol on the PMI_FD file descriptor when `PMI_Init()` is called:

**PMI_Init**
[code]

**PMI_Get_universe_size**
[code]

[2015-09-26 21:47] garlick commented on #398
I also verified that the ubuntu 14.04 mpich supports an alternative to file descriptor passing.  Set `PMI_ID` and `PMI_PORT=<hostname>:<port>`.  The client then connects to the server on `PMI_PORT` and runs through the following handshake:
[code]
After which the `cmd=init` handshake begins as above.

[2015-09-26 22:25] trws commented on #398
The host:port option I think was the original, but is no longer used by the standard launchers. It's a relic from before MPD if I recall correctly. Not to say it shouldn't be considered if it's more convenient for some reason, but that code path may be less frequently tested these days.

Sent with Good (www.good.com)

________________________________
From: Jim Garlick
Sent: Saturday, September 26,

[2015-09-27 02:28] garlick commented on #398
travis hasn't whiltelisted mpich yet - see travis-ci/apt-package-whitelist#406

[2015-09-27 17:59] garlick commented on #398
I thought it might be good anyway to have mpich built to the side in travis, for more control over pm options we want to support and therefore should test against.  Got this working for gcc but  there is a [known bug](https://llvm.org/bugs/show_bug.cgi?id=24455) that causes clang to segfault building mpich.

I can't reproduce this on my ubuntu 14.04 system with clang-3.4-1ubuntu3.

[2015-09-27 18:55] grondo commented on #398
GCC is installed even in the clang builder. You can force mpich to build
with GCC by exporting `CC=gcc` before the build. (If you added mpich to
travis-dep-builder.sh maybe try `CC=gcc src/test/travis-dep-builder.sh ...`
or export directly in the script. We don't care what compiler the
dependencies are built with anyway...)

On Sun, Sep 27, 2015 at 10:59 AM, Jim Garlick <notifications@github.com>

[2015-09-27 21:50] garlick commented on #398
Thanks @grondo that did the trick!

[2015-09-28 22:44] lipari opened #423 "flux-lua.c:154: lua_push_flux_handle: Assertion `lua_isuserdata (L, -1)' failed."
I wish I could give a better picture of what happened.  I was running the flux-sched's t1000-jsc.t test and all four wrexecd's dumped core.  We are currently chasing what could be a timing problem with this test. The back trace shows that wrexecd went to invoke `rexecd_init`, dove into some lua calls, and emerged in kvs code where it died.  Here's the trace:
[code]

[2015-09-28 22:55] garlick commented on #423
Ah,  I just noticed that I'm getting a wrexecd assertion failure at the beginning of t2000-wreck.t
[code]
My backtrace is slightly different
[code]

[2015-09-28 22:58] grondo commented on #423
Yes, I was just about to open an issue on this. Apparently I broke master with the merge of #422 on hype, though my tests on ubuntu seem to be working. For development you might want to branch off before this PR was merged or we can revert it for now? I'm currently working on finding the cause.

[2015-09-28 23:02] garlick commented on #423
No big deal as far as I'm concerned - I can easily work around it in my development branch and wait for the fix to pop up upstream when you find it.  That work for you @lipari?

[2015-09-28 23:05] grondo commented on #423
And the `assert()` in lua plugin seems to only happen when `lwj.*walltime` is set.
(I'm actually a bit worried this bug was always there in the wreck/lua code and only just now being triggered by heavier use of flux bindings there, so not sure how quickly I'll have a good fix)

Sorry!!

[2015-09-28 23:07] lipari commented on #423
There is no hurry on my account.

[2015-09-28 23:21] grondo commented on #423
Ok, Thanks. I'll hopefully have a fix by tomorrow..

[2015-09-28 23:23] dongahn commented on #423
I'm working on the jsc test issue but I can easily work around this if needed. So no hurry.

[2015-09-29 14:35] grondo opened #425 "wreck/lua: assertion failure"

[2015-09-29 14:39] grondo opened #426 "wreck/lua: assertion failure "src/zhash.c:422: zhash_lookup: Assertion `self' failed." from env lua plugin"
As originally reported in #423 and again by @dongahn in #424, we're getting an assertion failure from the `env.lua` plugin in wrexecd when running out of the sched project

This seems to be a different issue than the Lua assertion failure actually fixed by #424.

 @dongahn's full report pasted here:
[code]

[2015-09-29 16:58] #423 closed

[2015-09-29 17:18] grondo commented on #354
hashicorp just released a cluster RM/scheduler called [Nomad](https://www.nomadproject.io/intro/index.html).

Though not really and HPC scheduler/RM, I did find it really interesting to read about Nomad, and specific to this Issue, they have a "job specification" syntax that has some of the same ideas we've been throwing around here, so I thought I'd share it:

 https://www.nomadproject.io/docs/jo

[2015-09-29 18:00] lipari commented on #354
Very interesting.  They make a [good argument](https://github.com/hashicorp/hcl#why) for using HCL as the job specification language:

[2015-09-29 18:06] grondo commented on #426
This seems to be due to erroneous garbage collection hook when flux objects are pushed into a Lua state instead of being created *by* the Lua bindings. Obviously we want to destroy objects (flux_t handle, kvsdir objects) at garbage collection when they are created from within lua, but this is not correct when the objects are pushed into Lua as is done by the wrexecd plugins.

I'll have a fix for t

[2015-09-29 20:10] garlick commented on #426
I'm hitting this in flux-core's `t2000-wreck.t` test on my toss desktop:
[code]
Here's the backgrace
[code]

[2015-09-29 20:13] grondo commented on #426
Yeah, this is probably the same issue (I think I might try to write a standalone reproducer for it). The flux_t handle is being incorrectly garbage collected and causes an assertion failure the next time it is used...

Thanks everyone for your patience

[2015-09-29 20:32] grondo commented on #426
@garlick -- this is probably a stupid and lazy idea, but reactor and dispatch have usecounts, is it dumb to add one to the flux handle? This would make the lua code easy ;-), but if I'm just being lazy please don't hesitate to tell me to fix this in my own damn code!

[2015-09-29 20:38] garlick commented on #426
Not at all, that would be easy to add if it is useful.  From an interface perspective (since there is no exposed precedent for reactor/dispatch), should we go with something like
[code]
that increments the usecount, and then have `flux_close()` decrement it and destroy on zero?  Just tossing this out, I'm open to other approaches.

[2015-09-29 20:40] garlick commented on #426
Or maybe just
[code]

[2015-09-29 20:45] grondo commented on #426
From the perspective of language bindings, taking an reference and having it auto-decremented on `flux_close()` would be cleanest. Then, an externally created handle pushed into Lua would take an extra  reference and could still use the same garbage collection function as a handle created within Lua, which has an implicit single reference from `flux_open`(?)

However, an easy alternative for me wo

[2015-09-30 08:31] trws commented on #354
This is pretty interesting.  It reminds me of the GCL (google
configuration language) referenced from the Borg paper, except that it
isn’t turing complete.  We could support something like that pretty
easily, but I’m not sure I like having the machine-generated and
user-generated syntaxes be different like that.  It means the comments
and other materials can’t be preserved, because they can’t be
r

[2015-09-30 21:57] #426 closed

[2015-10-06 17:45] garlick opened #432 "handle incorrectly linked slurm libpmi.so"
When using SLURM's PMI to bootstrap Flux, `dlopen ("libpmi.so", RTLD_NOW|RTLD_LOCAL)` results in:
[code]
A similar issue was discussed [this openmpi thread](http://www.open-mpi.org/community/lists/devel/att-16394/attachment)

[code]
My understanding is since libpmi.so is explicitly linked against libslurm.so, it resolves its slurm symbols just fine in RTLD_LOCAL context, however once libslurm load

[2015-10-06 17:46] garlick commented on #432
This was reported in comments to PR #431

[2015-10-06 17:54] grondo commented on #432
I could be wrong but I don't think `dlopen (RTLD_GLOBAL)` will pollute the entire namespace. The symbols should only be available to all *subsequently* opened libraries (which, depending on the order of things, might be just as bad).

[code]

It is pretty much necessary to use this flag when dlopening a library that itself uses dlopen().
I guess one could check this by using dlopen on SLURM's PMI

[2015-10-06 18:01] garlick commented on #432
Maybe I need to retitle this issue.  But couldn't SLURM guys fix this by explicitly linking auth_munge.so against libslurm.so?  Or would that have some other unintended consequence for them or us?

[2015-10-06 18:18] grondo commented on #432
Yeah, I just reread Section 1.5.4 of Drepper's [How to Write Shared Libraries](http://www.akkadia.org/drepper/dsohowto.pdf) and he *strongly* warns against `RTLD_GLOBAL` -- so I think you're totally correct here and should ignore my earlier comment.

I always found it weird that plugins link against a library into which they are being loaded, but given the problems with `RTLD_GLOBAL` that seems li

[2015-10-06 18:19] garlick commented on #432
I did verify that we can resolve slurm symbols after the dlopen of libpmi.so by adding:
[code]
to libpmi-client/pmi-dlopen.c right after the dlopen call.  That symbol is just a random one exported by libslurm.so.  When I launch Flux with srun, the assertion does trigger.

[2015-10-06 18:21] grondo commented on #432
Ok, sorry about the incorrect info above.

[2015-10-06 18:22] garlick commented on #432
No worries, this is all...puzzling.

[2015-10-06 18:25] grondo commented on #432
If things are still behaving strangely, I've found setting `LD_DEBUG=all` to give some insight.

It might be a bit hacky, but there must be some way to work around the issue...

[2015-10-06 22:19] grondo opened #433 "update t/sharness.sh to upstream version"
Now that (most of) our local changes to `sharness.sh` have been accepted upstream, we could update `t/sharness.sh` to the upstream version, which has some enhancements and bugfixes in addition to our changes.

[2015-10-07 13:40] #432 closed

[2015-10-08 00:14] garlick opened #435 "wreck nearly handles stdin"
In writing tests for kz, I noticed that stdin doesn't seem to work for wreckrun, e.g.
[code]
After aborting the job however I can see that stdin was created in the right place in the KVS:
[code]

I noticed this on my branch with kz changes on it for PR #434 but I reproduced it on master cab834cbc0ad4fbbae6c15a6a31815faa57fe8ec

[2015-10-08 00:20] grondo commented on #435
Thanks, this should have been working (there is a stdin watcher in wrexecd.) I'll take a look at it soon.

[2015-10-08 17:50] grondo commented on #435
This is because stdin isn't opened with KZ_FLAGS_RAW, but the *_json() methods are used. I'll have a PR with a fix pushed up shortly.

[2015-10-08 20:50] lipari opened #438 "Segmentation fault removing sched module"
I'm seeing seg faults every time I attempt to remove a loaded sched module with the current flux-core.  Any hints of where to look?

[code]

[2015-10-08 20:56] lipari commented on #438
Based on the dialog in [PR 418](https://github.com/flux-framework/flux-core/pull/418), I wonder whether the sched module may still be missing a critical destruction of something.

[2015-10-08 21:36] garlick commented on #438
Hmm, I don't want to rule out something in the module teardown but it _looks_ like the segfault occurs when the handle's aux cache is destroyed, so a first place to look might be `schedsrv.c::freectx()`.  Is the segfaulting  `zlist_destroy()` one of these?
[code]

[2015-10-08 21:48] garlick commented on #438
Just tried to reproduce unsuccessfully with a simple load/unload.  This is with the current sched master plus flux-framework/flux-sched#80 applied so that it works with the current flux-core master:
[code]

[2015-10-08 22:04] lipari commented on #438
@garlick , thanks for taking a look.  I'm currently working on rebasing PR 79 on top of PR 78.  It looks like that semi-automated merge may be where the cause is... I'll close this issue.

[2015-10-08 22:04] #438 closed

[2015-10-08 22:07] garlick commented on #438
OK, I'll stop looking.  I did want to mention that it looks a number of sim variables that were added to ctx are freed unconditonally in freectx() but are initialized to NULL in getctx() and are created (and sometimes freed?) in other places.  The life cycle of those objects looks like it needs an audit.

[2015-10-09 00:03] lipari commented on #438
For the record, I found the cause.  I was double free() in my PR 79.

[2015-10-09 16:17] grondo commented on #425
Hmm, I'm not sure why I opened this issue, looks like the description is empty. Therefore I'm closing it.

[2015-10-09 16:17] #425 closed

[2015-10-11 00:51] garlick opened #440 "t0010-generic-utils.t: assorted hangs on c9"
On my cloud9 vm, t0010-generic-utils.t hangs on test 5 (event can sub) or test 6 (snoop) hang pretty regularly.

@grondo can you verify this on your c9 environment?

This is on current master b6c5d5648ac78fbef2a658e649ca6ea2025d4ed3

[2015-10-11 02:22] grondo commented on #440
No, I haven't seen any hangs. I just did a hard reset to b6c5d5648ac78fbef2a658e649ca6ea2025d4ed3 and `make distclean && ./autogen.sh && ./configure && make && make check` and still can't reproduce a hang even after running `t0010-generic-utils.t` several times.

The two tests you mention use the `--count` options that were added awhile ago -- maybe something is n't working there?

It also occurs

[2015-10-11 02:31] grondo commented on #440
Also, I suppose those commands should be run under `run_timeout` ... sorry I missed that.

[2015-10-12 02:02] grondo opened #441 "kvs: "walk: corrupt internal storage" when overwriting an entry with kz_open()"
This was definitely a bug in my code, but I wonder whether there is a way to protect against this fatal error. It seems to be triggered by overwriting an entry (not a dir) via a kz_open` for a stream that is a *subdirectory* of the existing entry.

These two commands will trigger the failure
[code]

[2015-10-12 02:19] garlick commented on #441
Eek!  That should never happen.  Starting with a failing test case will make this easier though, thanks!

[2015-10-12 23:43] lipari opened #442 "How to get the cluster's name?"
When populating resources using hwloc, we have no definitive means to derive the cluster's name other than to assume a name+id node name convention and peel away the id from one of the nodes to derive the name for for the cluster.

This practice has been deemed to be unreliable per this comment:  https://github.com/lipari/flux-sched/commit/c059dbfbd4afca619fef6fa6541a23099a15b0a0#commitcomment-137

[2015-10-12 23:55] garlick commented on #442
Would it make sense to assume a cluster name like "default" or "hwloc" unless one is specifically configured via the RDL?

[2015-10-13 13:50] grondo commented on #442
Is there a reason we even need a cluster name in this case? It seems like using hwloc is a special case and you should only have to capture as much hierarchy as you need. For instance if you're only running on one node and using hwloc, the root of the tree should be the Node. I suppose with multiple nodes or resources at the same level you do need some name for the composite, but I would suggest "

[2015-10-13 15:40] lipari commented on #442
Ok, I'll close this issue.  I just pushed a mod to https://github.com/flux-framework/flux-sched/pull/79 that,when no RDL file is specified and resources are loaded from the kvs's resource.hwloc.xml.<n> entries, replaces the node-derived cluster name with a generic name.  I used @dongahn 's suggestion:  "cluster".

[2015-10-13 15:40] #442 closed

[2015-10-13 17:42] garlick commented on #441
I was afraid this was going to be hard to find, but it turned out to be an appalling logic error.  PR coming.

[2015-10-13 18:05] #441 closed

[2015-10-13 18:06] garlick opened #444 "travis-ci spurious failure: t2000-wreck.t: not ok 28 - wreckrun: --error supported"
[this build](https://travis-ci.org/garlick/flux-core/jobs/85169996) failed in travis-ci:

[code]

My next build contained only reworded commits and succeeded.  Thought I'd note the failure here in case it turns into a recurring problem.

[2015-10-13 18:16] grondo commented on #444
Thanks, we might have to add more debug output for that test if this keeps recurring. The verbose logs weren't helpful:
[code]

[2015-10-13 18:20] garlick commented on #444
Yes it is puzzling how that could even have failed, given that the greps both found their strings, and the greps wouldn't have run if the wreckrun failed.

[2015-10-13 18:21] garlick commented on #444
Oh, unless one or both output lines came from wreckrun.  (Sorry I should think before I type)

[2015-10-14 14:46] garlick commented on #440
I think actually the problem is always the snoop test, and buffered test output threw me off track before.

[2015-10-14 18:21] lipari opened #445 "compatability or convenience?"
In looking at the compile-time warnings due to the use of a "deprecated" flux_rank() call, I was all ready to rip out the old and replace it with the new.  However, when I examined the implementation of "flux_rank()" in libcompat/info.c, I realized I should implement all the error checking that the flux_rank() compatibility function does if I were to use the flux_get_rank() replacement.

So, shoul

[2015-10-14 18:28] garlick commented on #445
That one, and just check for < 0.  The other checking in the compat function is due to the limited range of the return value which was fixed.

[2015-10-14 18:58] lipari commented on #445
Thanks!

[2015-10-14 18:58] #445 closed

[2015-10-14 22:23] grondo commented on #444
Looks like I'm also hitting this issue in my travis builds so I'll begin improving this test.

[2015-10-14 22:30] grondo commented on #444
I think I see a potential cause. A job reaches the "completed" state once all tasks have been reaped and IO has been written to kvs. Once `flux-wreckrun` has received EOF on all streams and state == "completed" it will exit, but this doesn't necessarily mean that wrexecd has flushed all output from kvs to requested output and error files.

A small sleep would likely fix this, but I hate to do that

[2015-10-15 02:56] #444 closed

[2015-10-15 18:34] garlick opened #447 "barrier interface needs redesign"
Our barrier interface dates to the very beginning of our prototype phase and needs a redesign.
[code]

It includes a primitive mechanism for aborting barriers when a client disconnects, but the client state is only held while it is inside the barrier.  If it disconnects before it enters the barrier, the other clients will hang forever.  There is also no way for a client to purposefully abort a bar

[2015-10-16 17:55] grondo opened #448 "intermittent failure of t2000-wreck 'wreck kill' test"
Even after recent improvements to t2000-wreck.t test 44 `flux-wreck: kill`, I am still seeing intermittent failures of the test. The test now waits for the `running` state before sending a signal to the job, but occasionally the wrexecd's do not see the event (at least this is what appears to be happening.)

It is probably clear that use of fire-and-forget events isn't the best way to handle signa

[2015-10-16 18:13] garlick commented on #448
Subscribe requests should be synchronous.  That is, when your `flux_event_subscribe()` call returns, you could tell another entity to start publishing and you will receive those events if the topic strings match.

In this case wrexecd makes a synchronous local.sub RPC to the `connector-local` module (the client end is hidden in the local connector implementation), then if `connector-local` is not

[2015-10-16 18:19] grondo commented on #448
Ok, thanks!

Then there is some other error going here. I'll have to dive in further.

[2015-10-20 16:27] garlick opened #452 "overhaul flux config"
The current config system needs a rethink due to:
* oddball ZPL format, with no Flux RFC defining use of namespace
* no built-in mechanism to locate the current active config
* no mechanism for get/set of single values in the current active config (only bulk load/store)
* loading the entire config from the KVS requires RTT for each config key (slow)
* `flux` command driver has to load the config j

[2015-10-20 16:45] grondo commented on #452
Good list! Thanks for putting this together.

Paths may have to be embedded in `flux.c`, optionally overridden by config?

The inheritance model for hierarchical jobs seems really important, but I'm having trouble wrapping my brain around that one. I'm hoping some careful discussion here will help.

[2015-10-21 13:21] garlick commented on #440
This seems to have been fixed by commit 35c5c48fe36130d75b79b03965a75edea84876d0 which creates the snoop socket with an absolute path.  When I revert that patch and watch what happens when the socket is created with the wildcard `ipc://*`, a relative path is returned e.g. ` ipc://2134s1Du70` and the test opens this from a different directory than the one it was created in.

That explains why this

[2015-10-21 13:58] grondo commented on #440
I am using zeromq-4.0.4, as does the travis build, so that could be the difference.

[2015-10-21 16:20] garlick opened #455 "flux lsattr -v activates snoop socket"
The snoop class in the broker is not activated (socket not created, messages not sent) until it is requested by a getattr call, presumably by the `flux-snoop` command.

`flux lsattr -v` makes the same call that getattr does to obtain the snoop URI, so it also activates the snoop socket, inappropriately.

This should be fixed so the lsattr doesn't trigger socket creation.

[2015-10-21 17:50] grondo opened #456 "lua/t1005-fdwatcher.t: Attempt to call field 'pipe' a nil value"
On our LC systems the version of luaposix bindings is old enough that it doesn't have a function for `pipe` used by the fdwatcher test (so this test fails currently)

[2015-10-21 20:14] #456 closed

[2015-10-21 23:35] garlick opened #458 "zio users need audit for file descriptor double-close"
Commit  9fa7a79e580e3f77a53f4d51b1d3859f7e374aec modified `zio_destroy()` to close file descriptors (if not already closed internally), which plugs a file descriptor leak for llibsubprocess, but may create a double-close situation for non-pipe readers/writers.

The following zio users should be audited:
* flux-lua.c (iowatcher)
* wrexecd.c (pipe readers/writers for stdio)

[2015-10-23 03:55] dongahn opened #460 "[question] how cores are partitioned amongst multiple brokers"
As part of [flux-sched#69](https://github.com/flux-framework/flux-sched/issues/69), I am trying to add a resource-to-rank function, which can provide a resource consistency check (i.e., hwloc == resrc) and can also allow `sched` to send a run-request to the right set of brokers per allocation.

I think this is pretty straightforward to support for the one broker per node case, but not so for multi

[2015-10-23 04:47] grondo commented on #460
`runrequest` is an event that goes to all brokers, I assume you mean a way for a rank to check for the intersection of its resources with those assigned to a job?

We could test this by running multiple brokers under SLURM on an LC cluster. SLURM should set CPU affinity appropriately by default. Then you can check per-rank hwloc in the session.

Multiple brokers per node (within a single instance)

[2015-10-23 05:09] dongahn commented on #460
Ah I misspoke. Sched needs to set the number of cores to use per each rank for a run and it needs to set this to each broker rank that actually manages the allocated resources. Without res2rank support, it is broken in sched.

my guess was, even with affinity support, per-rank xml resources would have all of the cores on the node. But yes I need to test this and I will do this tomorrow.

Yeah, tes

[2015-10-23 14:39] garlick commented on #460
One quick thought:  users will be able to launch an instance in any of the flexible ways they can launch an MPI program now, so we will likely need a strategy for handling this outside of testing.

Does it make sense to map _all_ resources to a broker rank?  Licenses?  Power bounds?  For some reason it seems like we should be talking about containers or some other abstraction, not broker ranks.

[2015-10-23 15:07] grondo commented on #460
But I'm not sure why they would do that besides testing? In any case, I'm not sure you could come up with a strategy for handling all the cases, so trying to do it a priori is probably a lost cause? For instances started under SLURM for example, you might get cpu affinity or cgroups setup in the case where the number of brokers is evenly divisible into the number of cores/other resources. Otherwis

[2015-10-23 15:28] garlick commented on #460
I thought not.  For example, maybe a compiler license belongs to the instance as a whole and can bounce around between ranks (say for parallel make)?  Or a power bound might be contained over a set of nodes, with a minimum of one broker rank per node.

[2015-10-23 15:52] grondo commented on #460
Hm, good point, but in effect the license is therefore a resource attached higher in the hierarchy than the "composite" on which a broker is run. (i.e. a license is "attached" at the center, cluster level for example). I was talking about non-overlapping *composites* which is actually a bit difficult to pin down, but perhaps a first cut would be to say no shared leaf children? (I know this doesn't

[2015-10-23 16:12] grondo commented on #460
We should probably try to get away from this model of sched directly assigning number of cores per rank. This is my fault since that is currently how the wreck prototype works, so I aplogize for that. I would be willing to fix this in wreck if we have a better way of assigning resources in sched. We can treat this work as an experiment to move design of the replacement forward...

[2015-10-23 16:36] dongahn commented on #460
Agreed.

Given the current model, I am inclined to use the notion of broker equivalence class in the case that multiple brokers on the node does not divide cores in a non-overlapping manner. I.e., unpinned brokers manage all of the cores on the node in a shared fashion. Aside other issues Jim raised above, this seems only relevant for testing, so I think I will just use a simple technique... When

[2015-10-23 16:41] grondo commented on #460
I thought I should probably explain further what I meant here by *composite*, and perhaps that would elicit more discussion.

If a job is assigned a hierarchical resource set like this:

[code]
And a new instance is requested, by default we should probably launch the brokers of the new instance such that the number of brokers is minimized, i.e. 1 broker per *Node*. In this case each Node is the co

[2015-10-23 17:11] dongahn commented on #460
@grondo: thank you for the  explanation. This makes sense.

This is probably a side point.

But don't broker ranks also have some roles to play to collectively arbitrate and contain certain upper-level resources at runtime as well, though? For example, it is the io-bandwidth-aware scheduler's role to schedule jobs so as not to exceed certain bandwidth, but the brokers (through custom containment c

[2015-10-23 18:05] grondo commented on #460
@dongahn: Yeah, I agree with you, though I'd say what you describe is more like a service on the instance as a whole and doesn't necessarily apply on a pre-rank basis, but what you say seems basically correct. Also, containment is typically responsibility of the parent so the ranks will handle setting up containment for any child programs they create based on the resources assigned by sched or oth

[2015-10-23 18:10] grondo commented on #460
BTW, I tried running an instance under SLURM with CPU affinity set for each broker rank, and resource.hwloc did not seem to restrict its `by_rank` entries to only those cores/sockets available to each broker:
[code]

[2015-10-23 18:20] dongahn commented on #460
@grondo: I also just concluded my testing which agrees with yours.

`resource.hwloc.xml.<rank>` also doesn't distinguish the resource set that each broker rank is pinned to.

I am wondering if hwloc has an API that lets you only select the cpuset the broker is pinned to and export that as xml. If this is the case, exporting that non-overlapping resources into both `resource.hwloc.xml.<rank>` and `

[2015-10-23 18:25] grondo commented on #460
@dongahn. Thanks! Yes I think we should open up an issue.

[2015-10-23 18:45] dongahn opened #461 "resource-hwloc needs better support for multiple brokers per node"
As discussed as part of #460, we need better support within resource-hwloc to deal with multiple brokers per node.

`resource.hwloc.xml.<rank>` doesn't currently distinguish the cpuset that each broker rank is pinned to. `resource.hwloc.by_rank.<rank>` doesn't restrict cores/sockets only to those available to the broker rank.

This is not a huge problem because it only affects testing under real n

[2015-10-23 18:45] dongahn commented on #460
Ok. It is now #461.

[2015-10-23 22:34] #435 closed

[2015-10-23 23:15] lipari commented on #460
From the scheduler's perspective, it wants to find and select resources on which to launch tasks.  It starts with the resources of the instance.  Once it has selected and allocated those resources, all it need convey to wreck are the instructions to launch the tasks.  It could specify this in two ways:

* by description:  on nodes[0-4] and cores[0-7]  of each node, launch 32 tasks with one task pe

[2015-10-23 23:48] dongahn commented on #460
Yeah, broker agnostic interaction seems ideal, and this would push the complexity of having to manage brokers for resource-to-rank mapping rightly into `flux-core.` I guess some of the logic (e.g., res2rank) I started to work on in `flux-sched` will ultimately be needed in the core with this model. And yes this would require an alternative scheme @grondo stated above.

Having said that, if folks d

[2015-10-26 23:01] trws commented on #460
@dongahn @grondo, interesting results. I'll look into this some more.  The options I'm specifying, or rather not specifying `HWLOC_TOPOLOGY_FLAG_WHOLE_SYSTEM`, should mask off the parts of the system that flux can't use, but clearly that's not happening.  What mechanism is slurm using to enforce bindings?

[2015-10-26 23:06] grondo commented on #460
@trws: Default on our non-shared node systems is plain `sched_setaffinity(2)`. On our shared node systems (which are not as common) we do use cpusets, and I bet use of cgroup/cpuset would work more as expected.

[2015-10-27 05:21] dongahn commented on #460
Does anyone know which open LC systems currently run SLURM this way? I just want to briefly see how hwloc adjusts the index space of the node resources when they are partitioned under cgroup/cpuset.

(I just want to see if there is a good way to uniquely identify each non-overlapping partition of a node -- hostname + some unique indices of the selected cpuset? I am not clear if I can use the `logi

[2015-10-27 14:14] grondo commented on #460
@dongahn, I believe you could try aztec.

[2015-10-27 16:53] trws commented on #461
I have a fix for this, there's a mechanism to mask off the topology to only those items in the visible cpuset of the calling process.  Before I finish it and push it up though, there are a couple of things I want to check on here.  One is, should the restrictions apply when loading an XML topology?  Another, should we mask off the IO hardware that is attached to the IO-hub on a socket we cannot ru

[2015-10-27 16:58] garlick commented on #461
The same hardwired module set is loaded in both cases, so my guess would be a module encountered an error and exited its main() function?  You might check `flux dmesg` and/or launch the session with increased logging, e.g. `flux broker --log-level=7` to see if any clues were logged.

[2015-10-27 17:09] dongahn commented on #461
In the case of the fake hwloc case for testing purpose, I think it makes sense to give each broker rank the full per-node topology without restriction. We may run multiple brokers on a physical node, but each rank would have a full fake node topology to manage... This will allows us to emulate scheduling at larger scale using only a smaller number of physical nodes...

[2015-10-27 17:15] dongahn commented on #461
This is an interesting question. Edgar Leon is working on mpibind version 3 which has some strategy to bind process to GPUs by making certain GPU visible or others invisible. It seemed to me his strategy made sense to me, perhaps we should talk to him. For now, at least from my perspective, I don't plan to use  GPUs so I am fine either way.

[2015-10-27 17:32] trws commented on #461
He's doing "largest unique subset" sectioning and binding, so it would
split GPUs by who gets the socket the GPU is on. At least that's the
last I heard.  The algorithm is the standard one built into HWLOC for
binding actually.  That reminds me, I need to follow up with him on
making sure the new version can actually support more than just GCC and
Intel OpenMP for thread binding.  Either way, it i

[2015-10-27 17:37] grondo commented on #461
For production use case, GPUs will be bound using devices cgroup or other container method. I think it is somewhat a solved problem, but outside the scope of CPU affinity (and GPUs would certainly be invisible, so I don't think hwloc would pick them up.)

For current code, where we are using CPU affinity as advisory resource binding, we should probably make the behavior an option, so the person ru

[2015-10-27 18:01] dongahn commented on #461
I agree with @grondo.

[2015-10-27 18:21] dongahn commented on #460
I've got what I need on this question so I'm closing it.

[2015-10-27 18:21] #460 closed

[2015-10-28 17:42] trws opened #462 "Super-linear memory expansion launching jobs"
Running a test for scalability in terms of number of jobs over time, I ran into super-linear memory consumption on broker 0.  I do not have data for the other brokers, but the broker 0 memory consumption proceeds as below, expressed as a percentage of total node memory for a Hype node, which I think is 32GB.  This test was run on four nodes, one broker per node, launching 4-rank MPI_hello jobs in

[2015-10-28 17:50] grondo commented on #462
@trws, thanks for collecting this data!

I believe you mentioned that if you don't run MPI job as the target, the limit is many more jobs? Do you know how many more?

[2015-10-28 17:51] trws commented on #462
@grondo: I don't, I had to cancel the test because I didn't think to put it in a tmux before I started it.  I'll try it now and see what happens.

[2015-10-28 21:21] lipari opened #463 "kvs.err[0]: XXX encountered old commit (4)"
I'm chasing down what appears to be a timing bug in the flux-sched's t1000-jsc.t that only the travis builds occasionally exhibit.  I committed a test branch that added --verbose to the test execution.  On one of the test failures, I found the following in the travis report:

kvs.err[0]: XXX encountered old commit (4)

Q:  Is this caused by some abuse the t1000-jsc.t test could be responsible for

[2015-10-28 21:31] dongahn commented on #463
@grondo recently had an intermittent error with a similar jsc sub-test within flux-core (i.e., overlapped wreckruns test). Wonder if these are related...

[2015-10-28 21:41] garlick commented on #463
That is an internal error.  Thanks for capturing it!

The kvs is trying to correlate a commit message with other state from that handle, and has unexpectedly found a fence in progress.  The invariant (more an artifact of the dated KVS implementation than any design we should carry forward) is that each handle can only enter a single fence at a time.

Although it's an internal error, this stuff is

[2015-10-28 21:44] lipari commented on #463
Dong is in my office right now and looking over my shoulder.  He noted that the culprit is probably in wrexecd.c.  There are two calls to kvs_fence() in there.

[2015-10-28 21:51] garlick commented on #463
Hmm, maybe try this?

[code]

[2015-10-28 22:28] grondo commented on #463
@garlick, thanks for finding that. That is new(er) code which ensures synchronization before checking to see if any wrexecd failed during initialization. Dumb of me not to check return code there! Sorry!

BTW, this is where I was asking for a primitive fence/barrier which could indicate one or more failures, or a barrier that aborts if any "group" member  detaches from flux.

[2015-10-28 22:31] garlick commented on #463
Hopefully captured in #447?  Please add to that one if not.

[2015-10-28 22:35] grondo commented on #463
Yes, I thought that captured it pretty well.

BTW, wrexecd will also do a `kvs_fence` on each state change (which you guys probably already saw), but it seems likely the newly added kvs_fence is the culprit here.

[2015-10-28 22:37] garlick commented on #463
Disclaimer: I thought maybe @lipari could try that change and see if the XXX error turns into a kvs_fence error.  I didn't run it down any further, so waiting to hear back.

[2015-10-28 23:01] lipari commented on #463
Sorry, I've in a code review.  I'll look into this now.  Bear in mind that the problem is very intermittent.

[2015-10-28 23:20] lipari commented on #463
I ran the tests 8 times on my local machine with the suggested change to wrexecd and was unable to get a failure.

[2015-10-29 00:12] grondo commented on #463
@lipari, the fatal `"kvs_fence"` error didn't trigger though?

[2015-10-29 00:16] trws commented on #462
As it turns out, this is not unique to PMI.  I'm not sure what happened yesterday that I thought it was, but re-working the test to use non-MPI jobs had the same effect just now on cab.  It did give me one new piece of information though, which is that the memory use only baloons on broker 0, the other three stay at a steady 1.3-1.5% of node memory all the way up to 0 running out, which on cab hap

[2015-10-29 02:06] lipari commented on #463
No, but the error I initially reported was a result of a travis build of the flux-sched.  I'd have to have the patch pushed to the flux-core master branch for me to exercise it exactly as before.

[2015-10-29 02:18] garlick commented on #463
Oh right, that's awkward.  I'll go ahead and submit it as a PR to flux-core.

[2015-10-29 02:31] grondo commented on #463
Thanks @garlick!

[2015-10-29 02:58] grondo commented on #463
Ok #465 merged.

[2015-10-29 04:06] grondo commented on #462
Maybe there is something *really dumb* wreckrun is doing with the kvs?

One bit of wasted space in the kvs for each job is the environment, which is currently duplicated for every lwj entry. There is already a workaround for this in place, especially if every job runs with the same environment. Let me know if we need to exercise that.

However, even with all that environment duplication, though, a

[2015-10-29 04:52] lipari commented on #463
... and I caught a failure:
[code]

[2015-10-29 13:54] garlick commented on #463
I think maybe the problem is that the fence name `rexecd_init` needs to be globally unqiue.

I just tried to append the ctx->id but that seems to have broken wreckrun completely and I need to debug.

[2015-10-29 14:27] grondo commented on #463
The other fence operations do use `lwj.<id>.startup|shutdown`. I seemed to have forgotten that the name needs to be unique when I added the new code, sorry!

I did try the following, which passed smoke test and `t2000-wreck.t` anyway:
[code]

[2015-10-29 14:39] garlick commented on #463
I think everyone who has used kvs_fence() has been bitten by that requirement.  It's worth reconsidering.

I submitted PR #466 with your fix, more or less.

[2015-10-29 16:25] dongahn commented on #463
@garlick, just what it's worth, using a named collective (using "name" as the isolation mechanism) wasn't all that painful once I got used to it. If you want to consider incremental improvements, name reuse support can be quite helpful for non-overlapping collectives. This of course won't help overlapping collective sessions. But for this, users can simply fall back to the current unique-session-n

[2015-10-29 17:00] trws commented on #462
I'm suspecting the KVS as well actually, just because it's only broker 0, and because the doubling realloc behavior under the hash tables it stores data in might do this to us even if wreck and the KVS dedup are doing their jobs perfectly.  For some reason the heap profiling from tcmalloc is causing the broker to crash now, so I'm trying some alternatives.  Hopefully we'll have hard data later tod

[2015-10-29 17:15] grondo commented on #463
I agree with @dongahn, the unique name seems obvious in retrospect. However, I do wonder if there is some kind of debug we could enable in the kvs during testing that would catch obvious cases of improper use like this.

#466 is merged now, so I restarted the latest flux-sched travis build and we'll see how it goes.

[2015-10-29 17:27] grondo commented on #463
Ok, flux-sched travis builds now pass.

[2015-10-29 17:31] lipari commented on #463
Agreed.  Thanks all!

[2015-10-29 17:31] #463 closed

[2015-10-29 18:02] garlick commented on #463
Thanks!  That felt like good teamwork.

[2015-10-29 21:04] garlick commented on #462
Dropcache is a no-op on the master since the cache isn't really a cache there, it's the master copy.

It might be interesting to look at
[code]

on rank 0 to see what the KVS thinks it's using (based on iterating through the object store and adding up the serialized json size of each object...won't be spot on, but I would expect this to be at least proportional to the actual usage)

[2015-10-29 23:08] trws commented on #462
Ok, we have data.  I managed to link jemalloc into the broker and write a set of wrappers to get just the broker to actually dump heap profiling.  That setup managed to get meaningful output (liking jemalloc by the way, pretty nice).  Anyway, the data generated is rather like what gperftools produces.  The attached PDF sums it up pretty well. (broker 0 only, all threads, total in-use heap at appro

[2015-10-29 23:18] trws commented on #462
Good idea @garlick, I'll add that command to my test runner and post what comes out.

[2015-10-29 23:43] dongahn commented on #462
Just a side note: This memory-profiling display scheme is pretty cool. Seems our LC users can also take advantage of.

[2015-10-29 23:50] trws commented on #462
@garlick The command you sent grows steadily to about 2030MB, then it goes negative for some reason, and ends at -1908MB for rank 0... Not sure what's up with that, but clearly something odd is going on for 1500+ jobs.

@dongahn: Yeah, it's definitely my preferred way to look at heap data.  Usually I reach for tcmalloc for this, but come to find out jemalloc's version is a little more stable for s

[2015-10-30 00:26] SteVwonder commented on #462
Any special modifications you had to make to get jemalloc working with Flux?  For tcmalloc, I just set LIBS when I configured flux-core.  Is it similar for jemalloc?

[2015-10-30 00:28] trws commented on #462
I added it to libs for specifically the broker, then created a wrapper script that turned on profiling for just the one assigned rank 0.  Neither of these are necessarily required, but loading it normally either overloaded the filesystem or caused hangs (tcmalloc always hung trying to manage profiling this test).

[2015-10-30 03:49] garlick commented on #462
NIce @trws.  I'll take a closer look tomorrow but I wouldn't be too surprised if the KVS object store were half object and half strings representing the serialization of those objects (stored within the objects).

I'll look into why that count is going wrong as well.

[2015-10-30 14:29] garlick commented on #440
Since the above PR was merged, this no longer occurs so closing.

[2015-10-30 14:29] #440 closed

[2015-10-30 14:29] garlick commented on #458
This was addressed by #467

[2015-10-30 14:29] #458 closed

[2015-10-30 14:30] garlick commented on #448
For the record, still seeing this on c9.io on master eba5c99ff9ca7220f17e8a1ef4ebf7b35cd9e297

[2015-10-30 14:32] grondo commented on #448
How often? I haven't seen this one in awhile.

[2015-10-30 14:51] garlick commented on #448
three for three on c9 this morning.

[2015-10-30 14:53] grondo commented on #448
Ok, thanks. Let me revisit that.

On Fri, Oct 30, 2015 at 7:51 AM, Jim Garlick <notifications@github.com>
wrote:

[2015-11-02 23:42] dongahn opened #469 "flux-sched needs a better scheme to request a remote process spawn"
We had a discussion on this topic today, and this is to further it to design a new scheme.

Just to reiterate the problem first:

[Problem]
When a set of node-type `resrc`s are allocated by `flux-sched`, the current scheme within `wreck` requires the sched to target specific broker ranks explicitly to spawn job processes on the nodes/cores where these ranks are running. Specifically, the scheduler

[2015-11-03 00:58] grondo opened #470 "RFC: Replace monotonic job sequence numbers with distributed unique id service"
I must apologize for the length of this writeup, the TL;DR version is that I propose replacing the single-point, monotonic jobid service with a distributed, uncoordinated "flux locally unique ID" service that generates 64bit k-ordered, unique identifiers that are a combination of timestamp since some epoch, _generator_ id, and sequence number.
#

This work is in support of Issue #338. In that issu

[2015-11-03 01:05] lipari commented on #469
I wanted to reference an earlier suggestion (https://github.com/flux-framework/flux-core/issues/460#issuecomment-150713778) that describe two alternatives for specifying the task to resource mapping.

[2015-11-03 05:02] dongahn commented on #470
@grondo: I think this is a solid proposal.

FWIW, a naive question and a few thoughts:

1. Is the main motivation to speed up job-submission processing for a user who may submit jobs at any node or to allow the users to submit jobs across many nodes without having to worry about a bottleneck at rank 0. I guess both, but I thought I would ask to understand what we are trading off.

2. I don't know

[2015-11-03 14:45] garlick commented on #470
On @dongahn's point 4, with this scheme, job submission could be faster than a KVS commit.  The user's logic for submitting jobs could obtain a FLUID as a handle for the submission, then continue, while the system could perform its more ponderous logic asynchronously.  The FLUID could then be used to asynchronously check job status.

I think if we can do that and provide the jobid as an integer, t

[2015-11-03 15:25] grondo commented on #470
Good questions @dongahn.

On point 1, I think you have it right. This is a tradeoff between bottleneck at some single point and simplicity of job/program identifiers. It is assumed in this design that at some point we'll want to be able to generate more identifiers/sec than a single rank could handle. Also, @garlick sums up our discussion for #338 well in the comment above.

Point 2: The current i

[2015-11-03 15:39] grondo commented on #470
@garlick: good point about job submission identifier vs *program ID* . I have a feeling you're right -- it would actually be very interesting to separate *job request* from actual *job* and have a list of programs associated with each *job request* or *submission* in a db/kvs. This could flexibly allow a job request to be reused or restarted as you say, or even have a single "generator" style job

[2015-11-03 15:42] garlick commented on #470
Or use `clock_gettime (CLOCK_MONOTONIC)`?

I should probably document (RFC?) the valid range of periods the heartbeat can have so you could choose a reasonable number of bits in the FLUID if you went that way.

[2015-11-03 15:42] grondo commented on #470
Another (probably dumb) idea -- if job submissions do not change after they are submitted, would it make sense for their identifiers to be a hash of the contents, then use generated unique ids for all programs?

[2015-11-03 16:21] lipari commented on #470
First off, I'd like to know whether we are still planning to construct our hierarchical jobIDs based on concatenation:  <highest_order_jobid>.<next_highest_order_jobid>...<lowest_or_program_jobid>

The next question is whether we expect users to have to deal with FLUID job ids.  From the discussion above regarding offering mnemonics as a mitigating solution, I conclude the answer is yes to this qu

[2015-11-03 16:43] grondo commented on #470
I avoided CLOCK_MONOTONIC at first because it seemed (based on lackadaisical research) this clock was usually started at boot time -- if a rank was rebooted you'd have trouble re-synchronizing, though maybe that is not something to worry about? It is probably better  than `CLOCK_REALTIME` with ntp adjustments, so good suggestion.

[2015-11-03 17:01] garlick commented on #470
@lipari:  asking sincerely here, what is it that people like about integer job id's?  In Slurm the numbers can become quite large, and since multiple users can submit requests concurrently, one can't depend on obtaining a block of concurrent job id's for requests submitted back to back.  Is it just that when you list the running job's it is useful to be able to discern the submission order?  If so

[2015-11-03 17:22] lipari commented on #470
For one thing, there is the question of typos.  When user's have issues with their jobs and the hotline creates an issue in the tracking system, commonly, they include the job id.  While job ids on the open side can be copy/pasted, job ids from the closed side have to be manually transcribed.  There have been times when I wasted time diagnosing the wrong job because the job id had a typo in it.

A

[2015-11-03 17:24] grondo commented on #470
@lipari, good points.

Yes, whatever identifier scheme we choose,  it seems to make sense to refer to hierarchical jobs as a concatenation with some separator, e.g. with FLUIDs in this scheme "acbb4ef000000.ce000000", or using a nmemonic encoder, perhaps something like "ticket-roger-rhino.taboo-academy-academy".

Clearly this isn't ideal, which I completely understand. However, as other tools and

[2015-11-03 17:28] grondo commented on #470
Good points, I'm not sure about the jobspec proposal, so I think @trws might have to answer that one.
A program that submits other programs is obviously allowed, however, users will probably expect some interface to create [job arrays](https://www.nersc.gov/users/computational-systems/genepool/running-jobs/job-arrays/), without having to write the generator themselves...

[2015-11-03 17:34] grondo commented on #470
Obviously, this is the use case for mnemonicode. Actually, that particular code was originally written to optimize transmission of binary data by voice. The reason there are only 1600+ words in the dictionary is because the dictionary is optimized for distinct words.

Another extant wordlist is the [bip39](https://github.com/bitcoinjs/bip39/blob/master/wordlists/en.json) wordlist, which actually h

[2015-11-03 17:37] grondo commented on #470
@trws' clever job dependency scheme will not use job identifiers, but something like "out" and "in" tags. A utility will easily use these tags to display arbitrarily complex job dependency graphs.

[2015-11-03 17:44] lipari commented on #470
@grondo, I can certainly see the utility and performance benefits of the FLUID proposal.  So, part of what I'm presenting is what I anticipate users will voice.  In one scenario, users complain at first but then quickly get used to long job IDs and they eventually forget there was ever an issue.  But, Flux is sure to be something new and different users will be asked to adopt.  I don't want to mak

[2015-11-03 18:01] grondo commented on #470
@lipari, this is exactly the discussion I was hoping to have with this issue (rather than first developing a full fledged PR), and you definitely bring up some good points. I guess the unanswered questions I've seen brought up have been:

 * Are monotonically increasing, zero origin, jobids a requirement for Flux? (Need to speak to users/staff about this)
 * If the above is not true, then is there

[2015-11-03 18:12] grondo commented on #469
@dong, can you descibe what you mean by "pure resrc reader mode"? In the case of purely configuration driven scheduling (e.g. sched does not use hwloc data), can you explain why you need the resrc/hwloc consistency check, are you just ensuring that node X has at minumum configured resource set Y?

Thanks!

[2015-11-03 19:42] dongahn commented on #469
Sorry for the late response (I'm on all-day training until this Thu).

It is the main mode before @lipari puts in hwloc reader mode. If you load `schedsrv` with the rdl-conf option, resrc will be populated by the configuration file specified as the argument to that option.

[code]

There are many things that can go wrong. For example, if ../hype.conf is misconfigured and contains, say, more comput

[2015-11-03 22:45] dongahn commented on #470
Just a side point. Honestly, I haven't examined this dependency scheme, but it seems @tpatki may want to take a look at it and see if this can be extended with input/out file set. Also, she may want to talk to Maya's team to test whether data-intensive customers are willing to write such dependencies to help the RM to reduce data movement.

[2015-11-03 23:37] trws commented on #470
I'll go through the rest of this when I get some more time, but to @grondo's question, it does not require 1 request to n programs. In fact, each program is monolithic, though it may contain multiple independent tasks. Dependencies are currently modeled as program properties. More later.

Sent with Good (www.good.com)

________________________________
From: Mark Grondona
Sent: Tuesday, November 03

[2015-11-04 15:44] dongahn commented on #470
My $0.02:

When speaking to the customers, we should also tell them about the possible downside of meeting this requirements (i.e., scalability loss). In building a highly scalable system, my experience has been that we need to sacrifice some features to meet the scalability targets. STAT and our scalable tools infrastructure was one such example. Everyone wants to do everything that could do with

[2015-11-04 16:02] lipari commented on #470
I just had improved version of this suggestion:  Why not have the KVS assign the user-friendly job ID at the time it commits the job to the KVS (and thus avoiding a separate thread to do this assignment)?  The FLUID self-generation happens as before so jobs are uniquely ID'd at generation time.  But assuming the KVS is single threaded, it slaps a user-friendly, monotonically increasing job ID on e

[2015-11-04 17:39] grondo commented on #470
@lipari, I could be over-complicating the issue, but I think that requires kvs atomic append which is yet to be built.  (This is actually how @trws suggested we get IDs in his comment [here](https://github.com/flux-framework/flux-core/issues/338#issuecomment-143354908)). I think we could move to that once this is available in the kvs.

Outside of jobid generation there is not a place I was going t

[2015-11-04 17:44] grondo commented on #470
One other question, @garlick stated that PMI `appnum` requires only 32bits. For a *program ID* only namespace (numberspace?) should we limit IDs to 32bits?

[2015-11-04 17:44] garlick commented on #470
This goes a bit beyond that proposal since
* I was planning to use a global sequence number not a per-directory sequence number for appends
* We had agreed that the operation would not return the generated "key".

One nice thing about FLUIDs for job id's, is job requests could be accepted a much higher rate than the maximum KVS commit rate.  Commits are heavy weight operations and potentially a jo

[2015-11-04 17:51] garlick commented on #470
The canonical def is:
[code]
The bigger question is, do we care?

[2015-11-04 18:04] grondo commented on #470
I'm not sure, which is why I asked.

Using a single ID allocator per instance I'm certain we could fit all IDs within a namespace into 32bits. If we decide we want any scalability we could explore your idea of hierarchical sequence number division, which I'd have to think about more to determine if it would fit in 32bit, but it is probable (it seems like the main impetus for using that method woul

[2015-11-04 18:10] garlick commented on #470
I don't quite know what the appnum is used for in MPI runtimes, which is why I'm unsure of the answer.

We are using appnum to communicate the job id when Flux is bootstrapped using the PMI v1 wire protocol, since the string-based "PMI_Get_id()" was not included in the wire protocol, and indeed was removed from MPICH entirely.  Flux uses the wire protocol when launched by `flux-start` (and "jobid"

[2015-11-04 22:46] grondo opened #472 "flux-broker: abort in libsodium randombytes_sysrandom_buf ()"
During `make check` a couple tests failed after `SIGABRT` of `flux-broker`. Stack trace shows `abort()` apparently called from `randombytes_sysrandom_buf()` in libsodium:

[code]

I haven't delved in the source to see what `assert` or `abort` we're hitting here.

[2015-11-05 20:08] trws commented on #470
So, I'm coming into this late, but here are my thoughts on it.

I prefer having IDs generated uniquely by the submitter or a nearby broker, mainly for scalability reasons, but partly because job creation and writing *require* the ID to proceed.  It's currently introduces a synchronous delay to the setup of a job context on the client side, and I would like that to go away.  Doing it in terms of an

[2015-11-05 20:35] trws commented on #469
Sums it up pretty nicely.  The scheduler is scheduling resources that have no meaning to the rest of flux, and flux manages brokers whose ranks have no meaning to sched apparently.

Having a way to verify resource information with the hwloc data, and ensure that there are brokers that can reach all resources, makes sense to me.   This does exemplify a rift we have between our specification and rea

[2015-11-05 21:47] dongahn commented on #469
@trws: thank you for the feedback.

Interesting thought. I considered this and one problem that kept me from staying away from it was this. One can manually specify brokers as resources in the rdl file. But this means, the broker configuration including broker count per node has to be determined after the rdl file is parsed and processes. This doesn't fit the current model: the rdl file is parsed

[2015-11-05 22:10] trws commented on #469
Good comments, and this makes a little more sense after your clarifications @dongahn.  We clearly do need some way to link these together, but at least by my mind what we need first is to define how we determine what a broker manages, and how that information is made available to the rest of the system.  If it's by hostname, that's fine, by hardware signature, that would also be fine, but somethin

[2015-11-05 22:28] dongahn commented on #469
Yes, I agree. BTW, what I think we really need at this point is to create a minimum viable solution so that our scheduling efforts can make progress. If we can't populate automatic testing to start harden `sched`, IMHO this will be a big road block to further engage early customers and collaborators to steer our scheduling area.

[2015-11-05 23:06] grondo commented on #469
The enclosing instance determines the resource set to hand to a new program that may become a new instance. The program specification (or other, similar mechanism) determines the mapping of tasks onto resources within this set, and in the case of a new instance, each of these tasks is a broker rank. In other words parent communicates via the above mechanism *exactly* which resources a broker-as-ta

[2015-11-06 00:41] grondo commented on #470
Thanks @trws, great comments! I just want to make sure you understood that the L in FLUID acronym was for *locally* unique IDs -- i.e. local to each instance. This is because we start the epoch at instance  initiation, and thus can use less bits for timestamp. We could get *globally* unique IDs across all instances (perhaps within a domain) by choosing a custom but constant epoch, and perhaps usin

[2015-11-06 00:48] grondo commented on #470
I should have mentioned the testing above was with a relatively small pipeline of 16 outstanding requests. As @garlick suggested, increasing the number of requests allowed to be in flight could reduce the time of the rank 127 test (sending all 40000 requests at once gets the result down to 3s)

[2015-11-06 01:15] dongahn commented on #469
I agree all the information will be there for the general hierarchical case. It seems the trick is to ensure two things for the general case: 1) The flux instance gives the 'verified' resource data to the instance scheduler to schedule jobs against them and 2) then upon a job allocation allocated, the instance transparently maps the selected resources to the set of ranks. It is ideal for the sched

[2015-11-06 16:06] trws commented on #469
Is there a PR for what you have @dongahn? If it gets us where we need to be, let's just use it. All I want to ensure right now is that there is some king of well-defined way the RDL maps to brokers in the scheme, everything else we can rework later, but that seems pretty fundamental.

Sent with Good (www.good.com)

________________________________
From: Dong H. Ahn
Sent: Thursday, November 05, 201

[2015-11-06 16:13] grondo commented on #469
More generally, we need a way to map RDL to tasks, and I thought we already had a plan for this. Since brokers are just tasks in a program that is also a new instance, I thought we had this covered. That is the point I was (inelegantly) trying to make above.

[2015-11-06 16:16] trws commented on #470
Thanks @grondo, I did realize they were instance local, but didn't really think about it. A named sequence could certainly work with that centralized scheme, but what I was originally thinking was a but different. Much like hg does, the user would be presented with a FLUID immediately. After that they could request a friendly ID for that, and would have one generated when they ask for a listing of

[2015-11-06 16:21] trws commented on #469
We do, at the time of launching a job. The issue is the initial instance, and the disconnection between sched 's process of loading the RDL and the task mapping scheme.  If the bootstrap engine will take care of this, we're all good. Or if, for example, the RDL for each rank is placed into the KVS and merged after loading by each broker by sched, that also works, but having them be completely inde

[2015-11-06 16:42] grondo commented on #469
Ok, I understand now. I agree it is problematic, but more for our test cases (which is what I think @dongahn was trying to communicate above). The plan for the kind of basic bootstrap instance was to initialize purely from configuration.

The tricky cases are running more than one broker per node and it sounded like @dongahn's solution probably has this handily covered for now.

[2015-11-06 17:34] dongahn commented on #469
Thanks @grondo and @garlick

I think you understand but just to reiterate. With `flux-sched`, we have "nothing" that does this currently, not even hostname-based matching. The challenge I have is we can't set up any meaningful automatic testing with this void. I am all for "production solution." But without having a minimal viable, I feel `sched` is stuck.

I will post a PR against `sched` once ha

[2015-11-07 00:53] garlick opened #474 "find optimum hash data structure used for kvs object cache"
The hash container used to map SHA1 hash strings to objects in the KVS was chosen with little research during prototyping and should be reexamined.  Its current container expects keys to be strings (so we have to convert 20 byte digests to 41 byte null terminated strings), and uses an internal hash function when the SHA1 has already been computed.

I wrote a simple test that creates 16M unique obj

[2015-11-09 17:55] garlick commented on #474
Just updated the results above for zhashx, as I had not configured it to use the 20 byte raw SHA1 as stated.

[2015-11-09 19:48] grondo commented on #474
This is really cool!

Do we know what we'd like to optimize, though? To my eyes it seems like our good ol' lsd hash is a good balance of speed and small size, but is fixed size hash right out?

It would be interesting to also compare to the various implementations in Googles [sparsehash](https://github.com/sparsehash/sparsehash), but these are C++, if you could stomach it.

Also a quick search tur

[2015-11-09 20:00] dongahn commented on #474
Cool! It seems no-brain to go to zhashx from zhash as it reduces memory overhead by 2x without  performance impact. lsd hash gives another 2x memory reduction but it comes from 2x increase in lookup performance... @grondo makes good points... I am curious what is and would be typical kvs workloads? At first glance, it seems we are much more insert-performance bound (and lsd hashing seems pretty go

[2015-11-09 20:13] grondo commented on #474
Not sure it is relevant, but as alternative to Judy radix tree I saw some mention of [HAT-trie](http://crpit.com/confpapers/CRPITV62Askitis.pdf) as a space and cache efficient alternative and it was interesting enough to mention here. I don't actually know anything about this data structure, so I'm not even sure it could be used as drop-in replacement, or if there are C implementations out there,

[2015-11-09 20:43] garlick commented on #474
Thanks for the references!

With the backing store from #471, the KVS will only use the hash as cache of recently used objects, thus a fixed size hash is feasible if we manage the number of elements actively.

[2015-11-10 18:15] garlick commented on #474
Just updated results above with a hat-trie test.  Maybe not all that compelling though good space efficiency.

[2015-11-13 22:23] garlick commented on #472
I am seeing this infrequently also:
[code]

This is on my TOSS2 / RHEL6 desktop with:
[code]

[2015-11-13 22:48] grondo commented on #472
I was seeing this regularly on hype yesterday. I only made a half-hearted attempt to debug, but noticed in libsodium source there are sadly several places with something like
[code]
We might need to install libsodium with debug symbols to get the exact abort being triggered, but I wonder if libsodium needs to check for a short read..

[2015-11-13 23:22] grondo commented on #472
I realized after writing that how dumb it sounds, but you get the idea.

[2015-11-13 23:28] garlick commented on #472
Here's [the source](https://github.com/jedisct1/libsodium/blob/0.4.5/src/libsodium/randombytes/sysrandom/randombytes_sysrandom.c) to the version I have crashing.

That abort on line 92 looks like it's an open failure on the random device.   Hrm.

[2015-11-14 05:03] grondo commented on #472
Hm, I just noticed (from travis build failures) that v1.0.0 of libsodium moved from the [releases](https://download.libsodium.org/libsodium/releases/) directory to [releases/old](https://download.libsodium.org/libsodium/releases/old/).

Maybe an update is in order (for travis at least this might be wise)?

Only interesting [Release Note](https://github.com/jedisct1/libsodium/releases) though is:
v

[2015-11-15 15:17] grondo opened #477 "two events emitted at rank 0 for event originating on another rank?"
I'm seeing strange behavior with events on current master d5c493c. I'm seeing that an event originating on non-zero rank seems to get delivered twice to rank 0 listener (though I'm not completely willing to say this isn't because of me doing something dumb, so I'm sorry if so):

This is the reproducer:
[code]

Even more strangely, after publishing the event once from rank 3, now even published eve

[2015-11-15 15:47] garlick commented on #477
I can reproduce this.  Have a look at the broker event routing logic.

[2015-11-15 15:47] garlick commented on #477
Er I mean to say I am having a look at the event routing logic.

[2015-11-15 17:59] #448 closed

[2015-11-16 17:05] trws commented on #474
Nice work @garlick!  The google {sparse,dense}hash options would be nice to look at if not too complicated, but the other thing that comes to mind is either using JudyS or a nest of 3 JudyLs.  I would expect the JudyL nest to come out as the densest, except for perhaps google sparsehash or maybe the hat trie, but I'm not sure how the performance would change.  If only JudyL had a settable fixed-de

[2015-11-16 17:07] trws commented on #474
One side-note on this.  I've been thinking about flux data structures for a while, and regardless of what we pick, what do people think about having a flux container interface that we can swap the back-end implementation out on? For this something like `fc_ordered_map` for something with ordering properties like the judy/hat-trie and `fc_map` or `fc_hash_table` for whatever is best for pure hash-t

[2015-11-17 17:00] grondo opened #481 "Intermittent test failure in lua tests: reactor returns Protocol error"
Intermittent failure below has been seen recently in tests of Lua bindings.
The reactor should return `0, nil` instead of `nil, "Protocol error"`.

[code]

Come to think of it, this could be due to a timeout, but I'll have to have a solid reproducer to get any further.

[2015-11-17 17:03] garlick commented on #477
Running the reproducer above with a new `flux-event sub --raw` option:
[code]
it is evident that the same message _with the same sequence number_ is being received.

[2015-11-17 18:04] garlick commented on #477
OK, this is an embarrassing combination of problems in which rank 0 doesn't check for duplicate event sequence numbers (because it thinks it will never receive its own events), and then at some point, thinking we had robust duplicate event handling and that it would "just work", I allowed events to also be sent out on the ring network, which loops back from the highest numbered rank to rank 0.

Si

[2015-11-18 17:39] #477 closed

[2015-11-19 18:02] trws commented on #474
So, I grabbed the benchmark and tested it with a few more containers.  These were run on my laptop, so take the memory numbers with a grain of salt until I can get this on a linux box with an allocator I can control to check the sizes.  I say this especially because sparsehash is coming out so large, and dense_hash so small... that really can't happen...  Anyway, the tests cover LSD, judy (which i

[2015-11-19 18:03] trws commented on #474
Oh, by the way, very nice on the sqlite test @garlick, you hit everything.  To my surprise even eliding the rowid from the table made it worse, so that's a best-case baseline.

[2015-11-23 22:46] trws commented on #474
One more set.  These numbers are all from hype, and the memory usage is from jemalloc and represents the exact number of total allocated bytes, and the delta from the previous measurement after in the perens.  Added in judys, which is a judysl container in addition to judyhs, and have c++ map, unordered map, sparsehash, and densehash variants all with boost hash, city hash, city hash 32, and lsd-l

[2015-11-24 00:06] trws opened #483 "License recommendation inconsistency"
RFC 2 states "Flux projects are RECOMMENDED to be licensed under GPL version 3 or later."

The flux command and associated non-linked non-interface components are licensed under GPL2, and the largest set of it, by inference from the "license for flux user interfaces" section from the same would be under LGPL (presumably also 2, though the RFC says 3 here as well).

Two actual issues here:
* The RF

[2015-11-24 01:02] garlick commented on #483
Let me state the position reflected in those RFC's and add that of course this is open to debate:

We consciously chose v3 at the time the licensing words in those RFC's was updated, but were forced to release under v2 (or rather _convey_ under v2 but state "or any later version") by the lab's industrial partnerships group, which contends that the patent clause in v3 is incompatible with the lab's

[2015-11-24 01:15] garlick commented on #474
Thanks for doing this @trws.  Could you push the test somewhere so I can have a look?

[2015-11-24 16:41] trws commented on #483
Thanks for the background, it certainly clarifies how things arrived in their current in-between state.  I'm curious about the reasoning for preferring v3 over v2 though.  The patent provisions in v3 along with some of the derivative work clarifications make it rather harder to convince companies to deal with it than v2, though nowhere near so much as if the affero clause had stayed in thankfully.

[2015-11-24 16:43] trws commented on #474
Absolutely, give me a few minutes to tie it into the build system and push the deps to spack so they're easy to grab and I'll pop it up in a branch.  It's 99% the same benchmark, just with a templated c++ hash-table test and jemalloc hooks for memory usage checking.  If you want, it actually can do much more detailed profiling than this, it's the same setup I used to get the KVS memory trace befor

[2015-11-24 17:26] garlick commented on #483
There is not much written beyond [rfc2](http://github.com/flux-framework/rfc/tree/master/spec_2.adoc), sorry.  Since none of us are lawyers I felt that we should document our general intentions and concerns there as opposed to trying to be overly specific, but perhaps as a result we didn't get enough detail down.  We could have another round of discussion and update that RFC with the result,.  The

[2015-11-24 17:31] trws commented on #474
Ok, the updated version is up on a branch in my fork [here](https://github.com/trws/flux-core/tree/hashtest_cpp).  The autoconf/automake setup is probably not entirely complete, I was just building it directly with g++ and setting the paths because I was pulling in a number of external packages, some of which do not have pkg-config in their installs.

The extra dependencies for this version are:
*

[2015-11-24 17:37] garlick commented on #483
Also on v3 the patent clause seemed like the main attraction over v2, besides the general cleanup and modernization.

Some companies we deal with have extensive software patent portfolios.  Say company A releases a Flux extension under GPLv2 to fulfill a contract, then in the next contract they lose to company B, and company B leverages the open source from the first contract.  Company A, feeling

[2015-12-01 21:20] #461 closed

[2015-12-09 19:01] grondo opened #490 "flux-config problems for installed flux"
After `make install` was fixed up in #488 I found a few issues with the installed version of `flux` -- all of which *may* be related to the installed flux-config handling.

I actually don't remember how this is supposed to work, but thought I'd post here first to discuss while I'm investigating further.

BTW, I'm testing against an installed version of flux-core by first configuring with a writabl

[2015-12-09 22:56] grondo commented on #490
Looking into this a little further the problems are

 * Installed `flux` does not have a config file by default. **Some** config items are set internally, but without an actual config file present `flux-config` and presumably the kvs-upload code ignores these values.

 * When there is no config *file*, flux config items are not pushed into the kvs of an instance, which seems to violate an invarian

[2015-12-09 23:47] garlick commented on #490
See also #452

[2015-12-10 18:59] grondo commented on #490
Thanks! Let's track quick fix in this issue, and I'll move any comments related to config overhaul or rewrite into #452.

[2015-12-10 19:00] dongahn opened #491 "Intermittent failure with t1005-cmddriver?"
I ran `make check` twice and the first one failed with an error in the t1005-cmddriver.t test. I've just rebased to the master, and I don't think my jsc changes are related to this... Anyone seen this? BTW, this was on cab.

[code]

FWIW, I just noticed that I have a core file from a broker. Although I'm not 100% certain, the dump was made from this test case, but the program at least crashed with

[2015-12-10 19:03] grondo commented on #491
Yeah, this appears to be the same issue as in #472.

[2015-12-10 19:04] dongahn commented on #491
Thanks. Closing this one.

[2015-12-10 19:04] #491 closed

[2015-12-11 20:01] dongahn opened #492 "Can the callback for resource-hwloc.reload handle an error more gracefully?"
This is just a minor enhancement request. I am trying to use fake hwloc load support with the resource-hwloc module to set up `flux-sched` tests. I mistakenly gave a wrong path to my fake xml file path, which then caused the entire flux instance to exit. It seems a simple path check within the reload handler can handle this case a bit more gracefully?

[code]

[2015-12-11 21:41] grondo commented on #492
@dongahn, I agree this is an issue we should fix.
I think we had talked about not having modules ever call `err_exit`, instead they should either exit from reactor loop and thus `mod_main` for unrecoverable errors, or just print an error or return to user on recoverable failures.

I'm not sure which case we're dealing with for `resource-hwloc` -- preference would be for a recoverable error, but si

[2015-12-11 21:51] dongahn commented on #492
Because I manually used `flux event pub resource-hwloc.reload`, I can see the error message and manually recover from it. But you are right, from the programmability point of view, errors in an event callback will be difficult to recover. `flux_reactor_stop_error` seems reasonable for now.

[2015-12-14 15:17] grondo commented on #490
Ok the immediate problems described here were fixed in PR #494. Closing this issue and moving config rework discussion over to #452.

[2015-12-14 15:17] #490 closed

[2015-12-14 22:42] dongahn commented on #492
Actually, it find the pub-based hwloc reload a bit difficult to use in creating tests. Issuing `flux event pub resource-hwloc.reload` and schedsrv load back to back is subject to a race as the reload handler would not sometimes fully reload `resource.hwloc.xml.<rank>` before the loading of schedsrv. If possible, I don't want to use `sleep n` between the calls, but by definition this will still be

[2015-12-14 22:48] trws commented on #492
I could make a reload RPC, but you would have to send the message individually to each rank that needs to reload for that to work.  Perhaps that's how it should work, as that would also give it a place to return an error to the entity making the request to reload rather than exiting unless the incorrect path was specified in the initial configuration?

[2015-12-14 23:01] grondo commented on #492
@trws: There is also the mrpc interface.

Whether you use mrpc or one to many RPCs, I think for the reload functionality it does certainly seem like some kind of RPC is warranted.

Maybe you could take a look at current mrpc interface and if it doesn't work for your use case we could improve it. Unless @garlick has any objections (I'm not sure if he's deprecated use of the current mrpc or not)

[2015-12-14 23:03] dongahn commented on #492
Actually for testing, I like bulk reloading and get a single return code for this bulk operation a bit better. @grondo, does mrpc interface support this?

[2015-12-14 23:12] grondo commented on #492
I also forgot about `flux_rpc_multi(3)` which issues RPCs to all ranks in a nodeset then waits asynchronously for all replies.

Either `flux_rpc_multi(3)` or `flux_mrpc_*` would work for "bulk reloading" if I understand your statement @dongahn. `flux_rpc_multi(3)` is just a nice wrapper around `flux_rpc` so messages will be sent one-to-many, while `flux_mrpc_*` uses the KVS as a shunt for the RPC

[2015-12-14 23:24] garlick commented on #492
I think `flux_rpc_multi(3)` makes the most sense here.

I would probably avoid `flux_mrpc()` for now as both its interface and implementation are overdue for a rethink.

[2015-12-14 23:27] trws commented on #492
Just to be sure I'm reading this right, on the resource-hwloc end, it would still be a regular rpc service, but on the usage end it would be a flux_rpc_multi, right @garlick, @grondo?

[2015-12-14 23:27] garlick commented on #492
Yep.

[2015-12-14 23:28] trws commented on #492
That seems reasonable.  I'll take a look at it shortly.

[2015-12-14 23:31] grondo commented on #492
@dongahn, unfortunately `flux_rpc_multi(3)` will require that you process each response in turn with a separate `flux_rpc_get()` (or handle via callback with `flux_rpc_then`). Sorry I had thought `flux_rpc_multi` would only invoke callback after all responses have been received.

However, it does make `flux_rpc` slightly more usable for multiple targets, and if you look at the examples it shouldn'

[2015-12-14 23:34] trws commented on #492
We could probably make a little wrapper for that, something like
"flux_rpc_consume_until" that eats all responses matching a pattern, or
all those not matching a pattern I suppose, to say process all responses
until there are none left if they're all successful, but return
failure/call a callback when there's a failure?

On 14 Dec 2015, at 15:31, Mark Grondona wrote:

[2015-12-14 23:35] dongahn commented on #492
I will take a look. It seems easily enough to write a simple wrapper command atop of this.

[2015-12-15 00:47] trws opened #495 "flux_respond(h, msg, 0, NULL) results in protocol error?"
Perhaps this is intentional, but I did not expect it.  When I send a response with a null payload, the receiver gets an EPROTO from the flux_rpc_get call.  Clearly I can get around this by allocating an empty JSON object and passing that in, but somehow that feels wrong...

[2015-12-15 00:58] trws commented on #25
[triage] this was, at least mostly, fixed by #276 was it not?

[2015-12-15 00:59] trws commented on #41
[triage] since flux-screen is gone..?

[2015-12-15 00:59] #41 closed

[2015-12-15 01:01] #172 closed

[2015-12-15 01:01] trws commented on #183
[triage] status?

[2015-12-15 01:02] trws commented on #184
[triage] I seem to recall that this got done not too long ago, status?

[2015-12-15 01:03] trws commented on #190
[triage] Since we have several man-pages now, is this closable pending specific issues for files/APIs?

[2015-12-15 01:03] trws commented on #185
triage, cleanup

[2015-12-15 01:03] #185 closed

[2015-12-15 01:05] trws commented on #197
[triage] Is this issue still current?

[2015-12-15 01:05] garlick commented on #495
For better or worse, what happens is if the `flux_rpc_get()` call supplies a payload pointer it "expects" there to be a payload, and a missing one is an EPROTO.  This is documented in `flux_rpc(3)`

       JSON from the response payload. It is a protocol error if a payload
       that is expected (signified by a non-NULL json_out) does not arrive;
       similarly, it is a protocol error if an une

[2015-12-15 01:09] trws commented on #495
I can see how that makes sense. I came upon this because the current version of the python bindings always pass a payload to be populated in order to return a response object.  The interface currently has no way for the user to say whether there should or should not be a payload.  I suppose I can add one, but I had assumed that the result would either be an empty json object or that `*payload` wou

[2015-12-15 02:37] trws commented on #495
I was thinking about this on the way home, and I think I know why this surprised me as much as it did.  The payload is explicitly noted as being optional, and is in fact ignored if the error is non-0.  So, if a protocol normally responds with a payload, `flux_respond(h, msg, !0, NULL)` is valid, but `flux_respond(h, msg, 0, NULL)` is not.  By the same token, a get without a payload will happen to

[2015-12-15 16:01] lipari commented on #495
Letting you know that I read the above discussion, but don't have a strong opinion one way or the other.  As it sits, the onus is on the `flux_rpc_get()` caller to know whether or not a response is expected.  If a response is expected and the `json_out` is NULL, then you know an error occurred.  I guess I could live with that even if it meant passing an empty JSON object to every call, even if fin

[2015-12-15 16:56] grondo commented on #495
Without using the interface yet, I can say I agree with @trws that the current behavior seems pretty awkward and possibly violates principle of least surprise. I think it would be much improved if empty payload is allowed (setting json_ptr to NULL if provided) and will save lots of frustration for future developers...

[2015-12-15 17:32] garlick commented on #495
Is the automatic EPROTO on extra/missing payload, or the "dual function" of `flux_respond()` (handling both error and non-error response cases) the problem, or both?

I feel a little guilty about both because clearly they do make simple functions more complicated, but I proposed them that way because I found myself repeating the same little chunks of code over and over, e.g.
[code]
versus
[code]
o

[2015-12-15 17:51] grondo commented on #495
IMO automatic EPROTO on missing payload is the awkward bit here. I predict it will be surprising to 3rd party users that pass in a pointer to JSON object to get EPROTO error. It also hides the fact that the error was due to missing but presumably expected payload, vs server side EPROTO which could be due to malformed input JSON payload.

To save duplicated code for in-tree users, it would make mor

[2015-12-15 17:54] trws commented on #495
I like the flux_respond usage overall, but I would actually prefer that always allow a payload to be either empty or full.  In the case of an error, I can understand ignoring it, but it might be useful to send back a payload with further information on the *reason* for the failure, or application specific information to help in recovery.  By the same token, I agree that a missing payload when one

[2015-12-15 17:57] grondo commented on #495
Well I think of the errnum as a low-level error. Your protocol on top could always define its own JSON error response that includes, say an error string. But for low level RPCs this is maybe overkill...

[2015-12-15 17:59] garlick commented on #495
Right, I was just going to say the same thing.  An error response is defined in RFC 3 as numeric only.   That doesn't prevent a service from defining its own structured error response, encoded as a regular response payload.  Obviously these things aren't set in stone, but that one's quite a bit harder to change than the EPROTO behavior.

[2015-12-15 18:02] garlick commented on #495
It should be noted that the EPROTO change is simple but will involve touching quite a lot of code (like every request handler and every RPC user).  I'm OK with doing it and soon if people agree it should change though.

[2015-12-15 18:04] trws commented on #495
I would be for it, but why so much fallout? It would now be valid to pass NULL in places where one couldn't before, but is that a sufficiently common pattern to cause a lot of fallout, or is there breakage I just missed?

[2015-12-15 18:07] garlick commented on #495
It's the decode paths that are the problem.  One would need to start checking for NULL before passing a payload to `json_tokener_parse()` or equivalent.  It applies to request decoding (server side) and response decoding (client side().

[2015-12-15 18:13] grondo commented on #495
Could you define a new macro or libflux-internal function that wraps the old behavior, then search-replace existing users?

[2015-12-15 18:26] trws commented on #495
Maybe something like `flux_rpc_get_assert_payload`?  Or add a flag to flux_rpc?  I realize the latter doesn't actually save any changes, but it would give calling code a way to explicitly say whether they care or not.

[2015-12-15 18:36] garlick commented on #495
Flags and/or variadic decode functions might be the way to go.  Macros/internal functions might make a transition to a new idiom a bit easier.

Or will variadics cause problems for bindings?

[2015-12-15 18:43] trws commented on #495
What would you want it to be variadic for? Do you have a design in mind? The bindings tend not to like them, so I would prefer to avoid it, but if it's sufficiently useful I can always write a wrapper.

This is where having c++-style default arguments would be nice. C99 macro-based default arguments might be a nice compromise if that's the case.

[2015-12-15 18:50] garlick commented on #495
I was thinking of something like
[code]
That would allow the raw and normal interfaces to be collapsed and could provide a bit more expressivity for what the caller expects (viz a viz EPROTO).

[2015-12-15 18:51] garlick commented on #495
Now that I look at it it says "meh" to me.

[2015-12-15 19:02] trws commented on #495
How about something like this?

[code]

[2015-12-15 19:21] garlick commented on #495
errnum is mutually exclusive with payload in the RFC 3 definition of a response message.  The idiom we're using is to return -1 and set errno=errnum if the remote sends one back.  That's harder to change as noted above.

There is a flags arg already in `flux_rpc()`.  Maybe we could simply add
[code]
If any of those are set, you get EPROTO if the response doesn't have the expected payload.  If none

[2015-12-15 19:24] garlick commented on #495
And maybe similar flags for `flux_request_decode()`?

[2015-12-15 19:26] trws commented on #495
That certainly works for me. Extra points if the `flux_respond` call can inform the responder of the expectation with an error if they try to misuse it on that end.

[2015-12-15 19:28] trws commented on #495
Scratch that last.  Your solution looks good, but don't make respond potentially fail because of it.  Giving the client the ability to cause an error return against a service just seems like a bad idea...

[2015-12-15 19:46] garlick commented on #495
No `flux_respond()` itself only fails if something's gone wrong at a lower level.

[2015-12-15 21:05] grondo commented on #495
This sounds good to me as well. @garlick, I'd be willing to help with grunt work if you'd like since you are already focused on the content service.

[2015-12-15 22:09] garlick commented on #495
Sure help would be great!

Incidentally, you may already know this, but I have changes pending in PR #493 (commit bca843d) to disable the EPROTO handling in flux_request_decode_raw, and flux_response_decode_raw.

[2015-12-15 22:42] #492 closed

[2015-12-15 22:44] grondo commented on #495
I did see that, but didn't put 2 and 2 together yet. I will base any work I do on top of #493, as that one looks like it will be ready for merge pretty soon.

[2015-12-16 17:31] trws opened #497 "resource-hwloc does not offer aggregate resource counts across ranks"
Working on ATS, I find it would be useful to have a top-level aggregate for things like number of cores, PUs, etc. available to the scheduler as a whole.

@dongahn where did you end up on reduction mechanisms? That would seem like the right way to set this up.

[2015-12-16 17:46] grondo opened #498 "t2000-wreck.t: not ok 37 - wreckrun: error supported"
Looks like we have an intermittent failure of wreck test 37 in travis:

[code]

[2015-12-16 17:54] dongahn commented on #497
@trws:

Aggregation seems like a great effort!

Before I realized I wanted to spend more time on sched, I was looking at the `kvs_reduce` -- named reduced. I have a prototype atop of the older version of native reduce. The new interface is available at [here](https://github.com/flux-framework/flux-core/blob/bdde42af9d6e5d25287acccde9841b4a26f2f11d/src/common/libflux/reduce.h)

I don't think my pro

[2015-12-16 19:12] garlick commented on #497
See `flux_reduce_create(3)` though it may be a bit off target for this use.

If you're already pushing all the unreduced data to the KVS, is the added complexity worth it?  Just have the rank 0 resource-hwloc generate the reduced data once the fence on the unreduced data completes?

[2015-12-16 19:23] trws commented on #497
That's probably easiest, and it's what my ATS python code does at the moment, but it's not going to scale.  You're probably right that it isn't worth it yet anyway though.

[2015-12-16 19:24] trws opened #499 "Plans for disconnect/reconnect of brokers?"
As of now, any broker dying kills an entire flux instance.  I'm labeling this as an issue for 1.0, but the sooner we start thinking about how to handle death/disconnection of brokers and connection of new brokers the better off we're likely to be.

[2015-12-16 19:46] dongahn commented on #497
FWIW, this is a general comment. My experiences with scalable tools tell me that we will probably benefit from reduction more at some point to reach the scale we need. What we learned was, at extreme scale, even aggregation that works as concatenation doesn't even cut it: we needed a good reduction that can actually reduce the size of the aggregated object.

Some papers in case you are interested

[2015-12-16 20:09] garlick commented on #499
Brokers should detect when one of their children becomes unresponsive and then send out an event notifying their grandchildren to reconnect the TBON to the grandparent.  I called this "self healing" since the TBON at least can become whole again even if other aspects of the session are not.

However, the design expects that EPGM is used for event distribution so events get delivered even with brea

[2015-12-16 21:29] trws commented on #499
The other thing that occurs to me is that we have an implicit assumption in a few places that:

1) There is a defined number of brokers we can reason about (n_ranks)
2) The number of brokers doesn't change dynamically
3) There is a balanced tree topology with a single root (leader death being the main issue here)

What's hitting me is that I think, hopefully incorrectly, that even if the TBON is s

[2015-12-16 21:36] garlick commented on #25
Let's leave this open as I believe it's the only placeholder for implementing graceful broker shutdown.  I changed the title to be a bit more appropriate.

[2015-12-16 21:36] garlick commented on #184
Yep it's done.

[2015-12-16 21:36] #184 closed

[2015-12-16 21:37] garlick commented on #190
Right, closing.

[2015-12-16 21:37] #190 closed

[2015-12-16 21:39] garlick commented on #197
Despite the title describing a still-outstanding issue, I think description is for an old one.  Closing.

[2015-12-16 21:39] #197 closed

[2015-12-16 22:17] garlick commented on #499
I can't find the issue, but an idea was to have collective operations like barriers, fences, even rpc_multi, accept a group handle that could cause those operations to abort if a group member dropped out.  That would go some way towards addressing, for example, services that perform a fence over the whole session and hope for the best like resource-hwloc.  I felt that groups of this nature should

[2015-12-16 23:20] grondo commented on #499
You mentioned the idea in #447 I think.

[2015-12-17 14:27] garlick opened #500 "t2001-jsc not ok 1 - jstat 1: notification works for 1 wreckrun"
This failure just occurred in a travis build.  It seems to occur intermittently:

expecting success:
    run_flux_jstat 1 &&
    p=$( sync_flux_jstat 1) &&
    run_timeout 4 flux wreckrun -n4 -N4 hostname &&
    cat >expected1 <<-EOF &&
$trans
EOF
    cp output.1 output.1.cp &&
    kill -INT $p &&
    test_cmp expected1 output.1.cp
testing-worker-linux-docker-8ea8c977-3196-linux-7
testing-worker-l

[2015-12-17 14:29] garlick commented on #500
The build that failed is [9735922](https://travis-ci.org/flux-framework/flux-core/jobs/97352922).  There appear to be some errors in the broker log but as its rather long I'm just providing the link here.

[2015-12-17 15:03] grondo commented on #500
Looks like maybe `$(sync_flux_jstat 1)` returned an empty string  instead of the PID from the previous `run_flux_jstat`. Unfortunately it appears that when you restart a job in Travis it reuses the same build ID and thus the build [9735922](https://travis-ci.org/flux-framework/flux-core/jobs/97352922) now shows as successful.

I'll try recreating on one of my own branches.

[2015-12-17 17:28] grondo commented on #500
I couldn't reproduce a failure after a few runs through travis and repeated attempts on a c9.io instance. Next time this occurs, could someone download the raw travis build log and attach it to this issue?

[2015-12-17 18:02] dongahn commented on #500
Yes. That should be useful.

[2015-12-17 19:16] grondo commented on #495
Ok, I started looking into implementing the suggestions here and I'm quickly getting lost.
Here are some observations we might want to discuss and think about

 * It would be easy and not too disruptive to add flags to `flux_rpc_t` as described above, but as `flux_rpc_get` uses `flux_response_decode()` we still need to "fix" or offer alternative for `flux_response_decode()`.

 * There exists `*_ra

[2015-12-17 19:34] garlick commented on #495
Here's a thought.  How about the following low level changes:
* payload is mandatory
* payload can be zero length
* just drop the JSON flag

At the high level (rpc, request/response encode/decode):
* drop the json_str functions and drop _raw from the raw functions

While that seems like a cleaner foundation to build upon, it will increase repeated code for users.  We should take a look at that and

[2015-12-17 21:24] grondo commented on #495
Yes, that sounds like a pretty clever way to handle the payload/no payload thing. For duplicated code, I think some kind of convenience functions for "special" payload types may be useful. (This is what I was attempting to get at with the extensible message types I ineloquently hinted at above). We could end up back near where we are now, but with a more solid foundation and (perhaps?) a methodolo

[2015-12-17 23:33] dongahn opened #501 "flux-reload command in the core"
I now have some testing infrastructure set up within `flux-sched`, which makes use of hwloc reloading support. So far I have been using `sleep k` to wait for the reload to finish, but now I need to switch to the rpc-based reload.

Initially, I thought I was going to implement a `flux_rpc_multi`-based frontend command within the `flux-sched,` but I realize this may actually better belong to `flux-c

[2015-12-17 23:47] lipari commented on #501
`flux reload` seems a bit too ambiguous.  How about `flux resource reload` or `flux resource refresh` or `flux hwloc reload|refresh`?

[2015-12-17 23:55] dongahn commented on #501
@lipari:

Indeed I thought about two ways to create a higher level command: 1) making  resource-hwloc as a higher level command and have subcommands underneath, which includes reload -- this will be similar to your `flux resource reload`. 2) If we want to be even more generic, perhaps one can create a flux-rpc.

The reason I suggested flux reload was simplicity as my current main focus is firming

[2015-12-18 02:43] grondo commented on #498
Most likely a related error in a recent travis build
[code]

[2015-12-18 02:47] dongahn commented on #498
I noticed that sync_flux_jstat now uses Lua waitfile support. Perhaps there is a subtle bug in it?

[2015-12-18 02:49] grondo commented on #498
@dongahn, yes that is a good observation. I'll check that out.

[2015-12-18 02:53] grondo commented on #498
Also, more specifically in the kvsiocfg test, the waitfile should be *before* the sort, not after.

[2015-12-18 03:02] dongahn commented on #498
I think you nailed it!

For jsc's `sync_flux_jstat`, I previously had `while [ ! -f $fn -a $tout -ge 0 ]` so I probably was expecting a case where the file doesn't exit for a while.

[2015-12-18 03:15] grondo commented on #498
Ok, I will propose a fix for some of these cases early tomorrow. I went through the test suite and tried to remove use of `sleep N` to get the testsuite to run faster (this was the impetus for creation of `waitfile`). However, that's no good if the testsuite is unreliable. But perhaps `waitfile` usage can be fixed up.

[2015-12-18 03:19] dongahn commented on #498
Sounds good. Yeah removing sleep N is a good idea.

[2015-12-18 17:39] dongahn commented on #501
Perhaps what I should do is make `reload` as a subcommand of flux-hwloc and implement only that subcommand.

[code]

Because `lux-lstopo` already exists, `flux-hwloc topo` wouldn't be necessary. Also since `query` and `get` are to be implemented within `resource-hwloc` module, having these as a placeholder could facilitate the command line implementation when these callbacks are implemented?

@trw

[2015-12-18 17:51] dongahn opened #502 "[idea] Large-scale testing support with just emulating fork/exec processes"
Moved this from #501 since this would a separate discussion. I am just throwing this out there as an idea: When I make more progress with testing setup, I would know more as to what's needed for this.

====

For large scale testing,  it would also be nice if we can add some support within flux-core such that we can run multiple brokers per CN and have each broker load in a full-node hwloc xml file

[2015-12-18 18:25] grondo commented on #498
@dongahn: Just so I understand `sync_flux_jstat` is there to ensure `flux-jstat` is executing and ready to receive events? If `flux-jstat` opens it output file *after* subscribing to events, would this help remove the race seen in the `t2001-jsc.t` tests without an arbitrary `sleep`?

We can't wait for data to appear in the output file via `waitfile.lua` because the `sync_flux_jstat` needs to comp

[2015-12-18 18:29] grondo commented on #502
I'm not sure that's wreck hitting the `fork(2)` limit. However, have you tried increasing your max number of processes?
[code]

[2015-12-18 18:35] dongahn commented on #502
No I haven't. A good hint.

[2015-12-18 18:52] grondo commented on #502
Also note (I believe) `RLIMIT_NPROC` limits the total number of threads allowed per user. Since `flux-broker` uses a lot of threads this is going to further limit total number of brokers you can run per node.

As to the other question about running "fake" jobs for testing -- I'm sure there is some way we could simulate that for testing purposes...

[2015-12-18 19:28] dongahn commented on #498
@grondo:

Thanks. Yes, the purpose of `sync_flux_jstat` is that. And also it should return the pid of `flux-jstat` so that the calling test can send SIGINT to `flux-jstat` process to make it exit at the end of each subtest.

Now, there is indeed a slight race within `flux-jstat` between the creation of the output file and subscription of job events. I guess I did it this way because I didn't want

[2015-12-18 21:23] grondo commented on #498
Ah, yes, I indeed forgot that what is missing is the PID in the failure quoted. I think your fix would certainly help.

Why doesn't `run_flux_jstat` just return the pid on stdout? This might allow us to get rid of an extra file, the subshell, and consequently one place where we are waiting for a file to appear?

[2015-12-18 21:26] grondo commented on #498
I'm most likely not understanding the way it works, but can you subscribe to events (assuming event subscribe is synchronous), then open output file within the serial part of the code, then start the reactor?
(I realize now, however, that this is off topic for this issue though)

[2015-12-18 21:39] dongahn commented on #498
Sure, this can certainly be done. Just to understand:

[code]

?

The current script probably is a result of various various synchronization tries back then anyway.

[2015-12-18 21:45] grondo commented on #498
Ok, let me try it out and see if you like it

[2015-12-18 21:50] dongahn commented on #498
(I realize now, however, that this is off topic for this issue though)

Because the subscribed events will not be delivered to `flux-jstat` until its reactor starts, I think there will still be a slight race.

Say, `flux-jstat` somehow got context-switched out right after the output file is opened but before its reactor started. In the meantime, the testing script will go ahead and submit jobs, bu

[2015-12-18 21:51] dongahn commented on #498
@grondo: sounds good.

[2015-12-18 22:05] grondo commented on #498
I think messages will be queued until you process them via a reactor callback or `flux_recv`. I could be mistaken though and you are right to get @garlick to verify it, but otherwise how could anything work?

[2015-12-18 22:08] grondo commented on #498
I noticed `sync_flux_jstat` is always called right after `run_flux_jstat`, so why don't we do away with `sync_flux_jstat` for now and use `run_flux_jstat` something like this?

(run_flux_jstat prints PID of jstat then waits for output file to appear before returning to caller)

[code]

[2015-12-18 22:16] dongahn commented on #498
Looks like a great improvement: I see no flaw in your code. Once Travis likes it, I will also copy this code to `flux-sched.` Thanks.

[2015-12-18 22:21] grondo commented on #498
NP! This is coming with some other changes to `waitfile.lua` which should allow more robust other tests that use that script so look for a PR toward the end of today.

Thanks for your help @dongahn!

[2015-12-19 00:25] grondo opened #503 "Fatal Python error: ffi.from_handle() detected that the address passed points to garbage."
I'm suddenly hitting a python error in Travis -- in a branch where I've only touched one of the tests under `./t`. I'm a bit worried that a new version of python ffi dependencies is breaking the build?

[code]

The versions of python packages used in this build were apparently:
[code]

I'll continue testing to see if I introduced the error on my branch, but thought I'd open a quick issue here just

[2015-12-19 03:36] grondo commented on #503
I was able to work around this issue by requiring cffi >= v1.1 and < 1.4 in travis:
[code]

[2015-12-19 04:49] #503 closed

[2015-12-19 15:50] grondo commented on #500
I think we found the likely cause of this one in the discussion for #498, and probably fixed this specific issue in #504. Closing for now.

[2015-12-19 15:50] #500 closed

[2015-12-19 15:51] grondo commented on #498
This issue should be fixed or worked-around in #504. Closing.

[2015-12-19 15:51] #498 closed

[2015-12-19 18:17] trws commented on #501
That sounds fine, but if this is happening, it should probably be a `flux hwloc <subcommand>` structure so that lstopo can become part of the same thing, and we can add support for some of the other common hwloc query commands the same way.  actually, unless you have a PR for this I should probably just do it by re-working the python-based lstopo.

[2015-12-19 18:30] dongahn commented on #501
@trws: that's what I exactly ended up doing, but in C. And the implementation is mostly ready. I will add some sharness test cases around it and make a separate PR -- I will appreciate your feedback then.

Sorry I moved ahead a bit too quickly. But I needed it to make progress in my `sched` testing setup.

[2015-12-19 18:33] trws commented on #501
Ok, if you've already got it ready then that should be great.  I was just thinking that making a command with subcommands is a great deal less work with argparse, because it's built for the purpose, and might be easier to get you started faster.

[2015-12-19 18:59] dongahn commented on #498
@garlick:

Sorry, this is a closed case, but can you please comment on one question @grondo and I posted above as to when our communication system starts to queue up the subscribed events for an API user like `flux-jstat`? Would it be at the end of `flux_event_subscribe` or after the starting of reactor?

I somehow thought the case was the later -- i vaguely remember I had a little testing for thi

[2015-12-19 20:09] garlick commented on #498
Sorry I missed that @dongahn!  @grondo's statement above is correct.  Messages queue after the subscribe.  It's not even necessary to have a reactor to receive events with `flux_recv()`.

[2015-12-21 22:09] lipari opened #505 "flux_event_unsubscribe"
There is either something not working with flux_event_unsubscribe() or it is being used incorrectly.  I am debugging a sched problem that has arisen in the latest flux-core.  The one thing that seems strange to me his that the unsubscribe in the snippet from flux-waitjob.c is not working.  What I see are repeated callbacks to sync_event_cb() after the first callback is received and the "hb" is uns

[2015-12-21 22:20] garlick commented on #505
Is there a balanced number of subscribes and unsubscribes?  If you subscribe twice you have to unsubscribe twice to stop receiving the event.

[2015-12-21 22:23] lipari commented on #505
Yes, I considered that.  From what I read in the code, and from the diagnostics I've inserted, there is only one subscribe.

[2015-12-21 22:38] garlick commented on #505
I am on the road now but will double check the code later today.
Unsubscribe is not used that much so I could imagine it might be broken
without it being obvious.
On Dec 21, 2015 2:23 PM, "Don Lipari" <notifications@github.com> wrote:

[2015-12-21 22:39] lipari commented on #505
Ok, thanks.  I'll still try and triangulate if and where it broke.

[2015-12-21 22:48] grondo commented on #505
@lipari, if you have a standalone simple reproducer we can `git bisect` (and add a test to testsuite)

[2015-12-21 22:52] lipari commented on #505
Ok.  I'm searching for the good builds now.

[2015-12-21 23:23] lipari commented on #505
Ok, the reproducer is `flux -x . waitjob -s hello -c there 1` run in flux-sched/sched directory.  It is basically looking to wait for job 1 to appear.

I found a good flux-core build:  bcb62be6c7691e58a7fbfbdcd5c1f02a3377b3f3.  This was when PR 496 was merged.

In the good flux-core and after invoking the reproducer above, flux waitjob's sync_event_cb() is called once.  In the current flux-core bu

[2015-12-21 23:57] lipari commented on #505
@grondo or @garlick, I will attempt to identify exactly which commit caused the problem.  Just want to make sure you are not already doing the same.

[2015-12-22 00:06] grondo commented on #505
I wasn't looking into it just yet, no.

[2015-12-22 00:13] garlick commented on #505
I am still away from a computer but will try to follow up later this
evening.
On Dec 21, 2015 4:06 PM, "Mark Grondona" <notifications@github.com> wrote:

[2015-12-22 00:15] dongahn commented on #505
FYI -- There was a recent related question about when messages queue. W/ that clarification, `sync_event_cb` can go way completely.

@garlick: could you tell me more about this? The point of this handler was get a heartbeat event handler invoked once and then `flux_event_unsubscribe ().' And in the  `jsc_notify_status`, jsc issues a couple of new `flux_event_subscribe` -- on different job events.

[2015-12-22 00:20] grondo commented on #505
@dongahn, can you explain perhaps more rigorously the logic being used here?
e.g. are you using the heartbeat event handler as a way to get a callback invoked "under the reactor" to register other event handlers? One the other events are subscribed, you then unsubscribe from the heartbeat handler?

[2015-12-22 00:21] grondo commented on #505
I think @garlick just meant that if you subscribe to an event twice, you must also unsubscribe twice.

[2015-12-22 00:22] dongahn commented on #505
Yes. This was from my incorrect assumption described in [#498](https://github.com/flux-framework/flux-core/issues/498)

[2015-12-22 00:30] dongahn commented on #505
Could this be the case where the heartbeat events are queued up before seeing `flux_unscribe_event ()` and the callbacks are called that many times?

[2015-12-22 00:31] lipari commented on #505
Ok, it looks like the unsubscribe broke in commit a4ba490.  The commit prior to that, 5ab4e7b works fine.

[2015-12-22 00:31] grondo commented on #505
@lipari, nice work! Thanks!

[2015-12-22 00:36] grondo commented on #505
Since the change in a4ba490 was ostensibly to call all matching event handlers instead of the first, could the problem here be that `waitjob` is indeed subscribing multiple times to "matching" events?

[2015-12-22 00:45] dongahn commented on #505
@grondo: I looked at the code once again, I couldn't find multiple matching. I can use a second pair of eyes though:

[flux-waitjob.c)[flux-https://github.com/flux-framework/flux-sched/blob/master/sched/flux-waitjob.c]

[JSC](https://github.com/flux-framework/flux-core/blob/master/src/modules/libjsc/jstatctl.c#L867)
also uses `flux_subscribe_event` for job events and jsc events.

But if the heartb

[2015-12-22 00:51] grondo commented on #505
Once @garlick has a chance to look he may be able to find the problem a lot more quickly than I.
I was looking at `flux-waitjob` and could not initially see any problem either, but I am not familiar with JSC enough and quickly got lost on `waitjob` events subscribe vs JSC events subscribe... I'll look more later, but it would be really helpful (and useful for testing) if we could boil this one dow

[2015-12-22 00:51] dongahn commented on #505
@lipari and @garlick: if the hearbeat callbacks are indeed called multiple times because of the queued up heartbeats between the subscription point and un-subscription point within the first callback invocation, what should be the proper semantics? My guess is just to still invoke the callbacks because their events have happened before the subscription point?

[2015-12-22 00:52] lipari commented on #505
What I've found is that if I place a return midway through the function:

[code]
then the continual sync_event_cb() call problem stops.  If you look at the jsc_notify_status_obj() function in modules/libjsc/jstatctl.c, you'll see that it subscribes to different events of its own.

[2015-12-22 00:57] lipari commented on #505
...and if I move the return statement to just before complete_job(), the problem reappears.  So, it is must be related to those two flux_event_subscribe()'s in jsc_notify_status_obj().

[2015-12-22 00:59] dongahn commented on #505
Can this be a reproducer?

[code]

[code]

It seems the callback is invoked 5 times. But as I said above, I am not sure if this is a problem or the way that the eventing should work.

Also, I'm curious why the recent commit changed the behavior.

[2015-12-22 01:06] dongahn commented on #505
FWIW: the jsc code where the event subscription is happening is the following.

[code]

[2015-12-22 01:11] dongahn commented on #505
If the queued-up heartbeat events happen to be delivered to `waitjob` and end up invoking the callback multiple time, jsc will end up subscribing to he events multiple times -- this may be related to the failure more @lipari is seeing?

[2015-12-22 01:58] garlick commented on #505
@dongahn's reproducer above reproduces the expected behavior.  Events are queued on the flux_t handle between subscribe and starting the reactor.  The unsubscribe in the handler stops future events from being queued, but the ones in the queue still result in a callback.

[2015-12-22 02:08] garlick commented on #505
We can verify in case something unintended is happening, but it should not have changed the behavior of the reproducer.  The commit found by the bisection just ensures that if multiple handlers match a single event message on a given handle, they each get a copy, rather than only the first match.

[2015-12-22 02:38] dongahn commented on #505
@garlick:

Thanks. I am not 100% sure if my reproducer reproduces what @lipari saw, but this is certainly helpful!

It seems the lesson here is, make any event callback "queued-events safe"? With this event queueing semantics, an event callback can always be invoked way after `flux_unsubscribe_event` of that event returns through queueing, which isn't something that I could immediately take into a

[2015-12-22 03:24] grondo commented on #505
@dongahn: Maybe a good way to document would be that "an event subscriber will receive all event messages that are generated between `flux_event_subscribe`  and matching `flux_event_unsubscribe` on the event emitting broker (currently rank 0)"

This not only covers the case of queued events, but also covers event messages that may be in flight between when `unsubscribe` msg is sent from the caller

[2015-12-22 03:38] dongahn commented on #505
Sounds reasonable to me. Perhaps we can augment a [manpage](https://github.com/flux-framework/flux-core/blob/master/doc/man3/flux_event_subscribe.adoc)? To be clear, the current behavior is okay as far as people like me understand and take it semantics into account for safer coding :-)

[2015-12-22 03:50] grondo commented on #505
I actually think I wrote before thinking above -- I'm not sure the wording applies exactly as I said.
However, adding to the manpage is a great idea, that is exactly where this belongs. I'll bet @garlick will come up with much more precise language than I did above. (I confused myself for a bit on how event subscription works exactly.)

[2015-12-22 03:54] dongahn commented on #505
Relying on @garlick sounds like the best idea.

If applicable, I wouldn't be shy away form mentioning some mechanisms like "event queue" in the man page for clarity-- e.g., "flux_unsubscribe_event does not delete events from the event queue" and thus...

[2015-12-22 04:02] lipari commented on #505
I concur that there are two issues with somewhat overlapping behavior.  One is the behavior exhibited by @dongahn 's reproducer.  I think we all understand that phenomenon.  But the problem I observed seems more like cross-talk in the event registration.  The event subscriptions in the jsc code are cancelling out the unsubscribe of the hb event in the flux waitjob code.

[2015-12-22 04:04] grondo commented on #505
My 'rank 0' statement above was because I was confusing subscribe with publish (sorry about that).

If you ignore my statements about "event emitter" then maybe it makes more sense.

I'm not sure there is an "event queue" so maybe just saying that "event messages will be delivered to the handle between subscribe and unsubscribe" as @garlick said above? (I actually missed his statement above which

[2015-12-22 04:06] grondo commented on #505
@lipari -- do we yet understand why the problem occurs only after commit  a4ba490? (Sorry if I just missed it -- I'd still like to develop a standalone test that illustrates the broken behavior, unless we've concluded it was a hidden bug uncovered by the referenced commit?)

[2015-12-22 04:12] lipari commented on #505
Ok, tomorrow I'll work on creating a standalone test that demo's the scenario I've observed.  I'll start with @dongahn's test above and just add a couple more flux_event_subscribes() of different events and see whether that causes the "hb" unsubscription to be compromised.

[2015-12-22 04:15] garlick commented on #505
It definitely seems worth warning that events can be received after you have unsubscribed to them, as that seems counter-intuitive.  The two situations when that can occur are 1) when events are already queued in the handle when the unsubscribe request is processed upstream, and 2) if the event matches another subscription topic.

[2015-12-22 04:24] lipari commented on #505
@garlick, I understand 1) but am confused on 2).  If I subscribe to the "hb" event, unsubscribe from the "hb" event, and then subscribe to the "wreck.state" and "jsc.state" events, "hb" doesn't match "wreck.state" or "jsc.state".  So I should eventually stop getting callbacks for the "hb" event, once the events queued in the handle are depleted.  Correct?

[2015-12-22 04:31] garlick commented on #505
@lipari: correct, I was just listing the other way you might get an event after you unsubscribe to it, e.g.
[code]
I was wondering what is the reason for subscribing to the heartbeats, then in the heartbeat handler, subscribing to other events?  Why not skip the heartbeat and subscribe to the other events right off?

[2015-12-22 04:36] dongahn commented on #505
@garlick: that will be done as I mentioned above. This was from the incorrect assumption @grondo and I described the other day.

[2015-12-22 04:46] garlick commented on #505
Oh sorry, I thought that comment above referred to something else.  Thanks.

[2015-12-22 04:49] dongahn commented on #505
No problem. I am bailing out for now though. More fun for tomorrow.

[2015-12-22 05:22] grondo commented on #505
Just playing around with reproducer, the following code (in Lua because it is quick) works as expected. Removing the `sleep (2)` results in a single `hb` event being delivered within the 5s timeout, otherwise the the 2nd `hb` event is queued while we're sleeping in the msg `handler`

[code]

[code]

[2015-12-22 16:58] lipari commented on #505
Ok, I've got a reproducer!  And more info!

Place the following in flux-core/src/cmd:

[code]
Build flux-test (I just added it to the Makefile)
Now invoke the following:
[code]
and watch the fun begin:
[code]
Exit the flux instance, un-comment out these two lines, and build again.
[code]
Now run the two commands again.  This time testev_cb is called only twice:
[code]

[2015-12-22 18:00] grondo commented on #505
Cool, Thanks!

If I add a `fprintf (stderr, "msg=%p\n", msg)` to `testev_cb` it looks like the same msg is being delivered to the callback over and over. I wonder if adding a watcher in the callback is causing the message to be requeued? (The message is obviously delivered immediately based on the posted timing, so these aren't "new" hb events...)

[2015-12-22 18:49] grondo commented on #505
Through further debug, I've found  that it is definitely adding the new msg_handler in a handler that is the cause of the issue. I've updated the Lua test to optionally add new `msghandler` in the `"hb"` callback and this causes the failure:

Working case without `f:msghandler` inside of `"hb"` handler:
[code]

With a msghandler added in the `"hb"` callback:
[code]

Note that

 1. This verifies th

[2015-12-22 22:42] garlick commented on #505
That's a good clue, thanks guys!  The dispatch code is walking a zlist of message handlers, and adding a message handler would modify the list mid-walk.  The offending commit you found changed the behavior from breaking out of the loop on delivery to continuing on so that definitely fits with the theory.

[2015-12-22 23:20] grondo commented on #505
Oh, good find @garlick.

[2015-12-22 23:32] dongahn opened #507 "minor leaks in flux_rpc_multi?"
As part of PR #506, I ran totalview's memory debugger to flux-hwloc and the tool found two minor leaks. These could be false positives though. The tool's screen shot:

![screen shot 2015-12-22 at 9 50 19 am](https://cloud.githubusercontent.com/assets/862123/11968440/259faa62-a8c1-11e5-8dca-bd52235798b7.png)

[2015-12-22 23:57] trws commented on #370
In relation to the reliability discussion lately, I was reminded of this option by a conversation with @lipari in Austin a little while ago, and decided to look back at some of the DHT protocols I studied as an undergrad.  It occurs to me that rather than building something on raft, there is a pretty significant body of work on building much of what we have in our broker routing protocol and KVS n

[2015-12-23 00:16] trws opened #508 "make initial module list configurable"
A few different approaches to this have been proposed including adding a configuration option or @grondo and @garlick mentioned having a default initial program that could load a dynamic set of default modules.  However it is done, I think we all agree that for handling of some upcoming functionality, like adding flux-sched to the default load list when installing it, we need something that replac

[2016-01-04 17:10] garlick commented on #472
It looks like zeromq 4.1.4 packages [tweetnacl](http://tweetnacl.cr.yp.to/) if `--with-libsodium` is omitted from the configure line.  So maybe this problem can be avoided simply by updating to zeromq 4.1.4?

[2016-01-04 17:38] grondo commented on #472
Interesting!

Looks like tweetnacl pushes `randombytes()` implementation off to the caller, and it seems to have a `void` prototype, so current libzmq implementation calls `sleep(1)` if open of `/dev/urandom` fails. This is looking slightly better than the current status...

https://github.com/zeromq/libzmq/blob/master/tweetnacl/contrib/randombytes/devurandom.c

[2016-01-04 20:59] garlick commented on #472
Ugh, something is screwy here.  It looks like tweetnacl is present in the [4.1.4 release](https://github.com/zeromq/zeromq4-1/releases/tag/v4.1.4) but not in the [zeromq-4.1.4.tar.gz](http://download.zeromq.org/zeromq-4.1.4.tar.gz) tarball produced by their dist target.

[2016-01-04 22:12] garlick commented on #472
OK, I've got a build of libsodium-0.4.5 with this patch.  Does that look OK with you @grondo?  I figure the fprintf(), while clearly wrong here, is less wrong than `abort()`, and may yield clues.
[code]

[2016-01-04 22:35] grondo commented on #472
Sorry, somehow missed your latest comment. This looks great, thanks!

[2016-01-04 23:52] trws commented on #370
@grondo 's question about number of active connections made me wonder a bit, the default for the algorithms I was looking at is to use a base of 4, so it's equivalent to log_16(N), or an average of 4 connections for 10,000 peers, or 5 for one million.  If we were to run 10 brokers on every node of sequoia and vulcan combined, and put them all in the same overlay network, it would average just a bi

[2016-01-05 00:05] dongahn commented on #370
FYI, this is the SC13 paper that explored distributed KVS for resource managers:
[2013_SC13-KVS.pdf](https://github.com/flux-framework/flux-core/files/77860/2013_SC13-KVS.pdf)

[2016-01-06 16:07] garlick commented on #507
That looks like a false positive to me.

`oom()` is a preprocessor macro that calls `errn_exit()`, which is defined with `__attribute ((noreturn))`.  Is there anything else we should do to avoid tricking totalview?

You mentioned two leaks?

[2016-01-07 00:56] trws opened #511 "graph/dag/resource library"
This is a discussion issue to determine the feature requirements for the graph library we've discussed at a couple of meetings.  @tpatki, I think you mentioned looking for DAG management features and possibly some other things that weren't originally in my mind in this regard.  I was looking to create something like a libresource, that would manage a directed multi-graph of resources, reservations

[2016-01-07 18:28] garlick commented on #505
I think this was fully addressed by pr #509, please reopen if not.

[2016-01-07 18:28] #505 closed

[2016-01-07 18:34] garlick opened #512 "jstat 15: jstat detects failed state - test fails intermittently"
This test failed in one of my travis builds, then succeeded the next run.

Possibly relevant output is
[code]

Sorry I didn't capture more.

[2016-01-07 20:14] dongahn commented on #512
It looks to me like wreck failed to start a job and a jsc subtest reported this failure?  The normal jobs state transition should be `null->reserved->starting->running`?

[2016-01-07 20:26] garlick commented on #512
In this case the test is intentionally causing a job to fail and looking for the transition from starting to failed
[code]
I did see the wreck failure in the broker log but assumed it was the expected one.  Since the final transition is missed (not the wrong transition) maybe it is a case of the 2s timeout being set too short in `run_flux_jstat()`?

[2016-01-07 20:29] dongahn commented on #512
Ah, in that case, I will probably need to refresh jsc to accommodate the new "failed" state and adjust the test case.

[2016-01-07 20:34] garlick commented on #512
It usually succeeds (meaning the failed state is usually captured) so it looks more like timing to me.  The branch where I'm seeing this has a slightly less efficient KVS on it too, so that might be a contributing factor.

[2016-01-07 20:35] dongahn commented on #512
@garlick: good info.

[2016-01-08 17:30] grondo commented on #318
Fixed by PR #488

[2016-01-08 17:30] #318 closed

[2016-01-08 17:34] garlick opened #513 "flog.h includes <src/common/libutil/macros.h>"
flog.h is an installed header file pulled in when an out of tree user does `#include <flux/core.h>`, but it references macros.h, which is not installed.

[2016-01-08 19:29] grondo opened #514 "reconsider cmdline options for flux(1)?"
Currently `flux(1)` command driver has a lot of options just for setting various paths
[code]

As I convert `flux.c` option parsing in #510 this kind of struck me as inefficient perhaps. On the other hand, however, it is not like cmdline options for `flux(1)` would be necessarily routinely used.. so I'm not convinced we should work to change this now.

Are some of these cmdline options that basica

[2016-01-08 22:26] garlick commented on #514
I'm fine if you want to zap those while you're in there.   I think likely only `t1005-cmddriver.t` will need updating.

`-F,--file-config` is sometimes useful to avoid loading the config from a KVS that may be under test.

[2016-01-08 22:36] lipari commented on #514
I specify LUA_PATH/CPATH when exercising the sched:
~/flux-core/src/cmd/flux -M~/flux-sched/sched -C"~/flux-sched/rdl/?.so" -L"~/flux-sched/rdl/?.lua" start -s 4

[2016-01-08 23:01] grondo commented on #514
@lipari, thanks for the feedback!

 I wonder if something like:
[code]

Would work for at least the LUA paths?

I didn't check to see if there is an equivalent environment variable for the module path. This is something we could revisit with the config rework.

[2016-01-08 23:05] grondo commented on #514
Also, regarding `--exec-path`, I've found (at least once, maybe only once) it a bit awkward that it only prepends to the subcommand search path. Perhaps we could think about doing what `git` does and have `--exec-path` *replace* the "path to core executables" if used, but otherwise manage executable search path with `FLUX_EXEC_PATH`.

Additionally, `git` also searches current `PATH` for any `git-<

[2016-01-08 23:16] lipari commented on #514
It doesn't look like it...
[code]

[2016-01-08 23:25] lipari commented on #514
Yes. That works.  (I deleted my early post which had a typo in the command)

[2016-01-13 21:48] lipari opened #515 "JSC in flux-core"
Was there a deliberate reason why the jsc library is not bundled within libflux-core.so?  I notice that I need to add

-L~/flux-core/src/modules/libjsc/.libs -ljsc

in order to get flux-sched/sched/flux-waitjob to link.

[2016-01-13 23:00] grondo commented on #515
Are any of the modules libraries (e.g. libkvs) bundled in `libflux-core.so`?
I think we just wanted to keep core APIs in libflux-core, and then APIs to modules and other utility libraries separate. (Though I have to admit I'd have to go looking further to make sure)

However, if you are using libtool you should be able to do this more easily... (i.e. I would hope you'd be able to leave off the `.l

[2016-01-13 23:12] lipari commented on #515
Ok, sounds good.  I was under the mistaken assumption that libflux-core would have everything (except utilities of course).

[2016-01-14 21:56] garlick commented on #507
If there are other leaks, lets open them one per issue as suggested by @grondo.

[2016-01-14 21:56] #507 closed

[2016-01-20 00:27] garlick opened #517 "flux_rpc_completed remains false after rpc failure"
In PR #506 @dongahn encountered a problem with `flux_rpc_multi()` where `flux_rpc_completed()` did not seem to count rpcs that completed with error.

[2016-01-20 17:02] garlick opened #518 "adding init(8) like capability to initial rank 0 broker"
As discussed in [RFC 8](https://github.com/flux-framework/rfc/blob/master/spec_8.adoc), an _initial program_ is spawned on rank 0 as a stand-in for the user workload.  When the initial program terminates, the instance terminates.

In the current implementation, the default initial program is a shell.  Work can be launched interactively from the shell, or the shell can start work in a batch mode e.

[2016-01-20 22:10] garlick opened #519 "flux content store --unknown segfaults"
Perhaps something wrong here with my use of optparse in a subcommand:
[code]

[2016-01-20 23:16] grondo commented on #519
Uhoh, that is a good test that I'm not sure I'm doing. More than likely a bug, sorry!

[2016-01-20 23:23] grondo commented on #519
Ah, looks like perhaps you are calling `optparse_parse_args` inside the subcommand function?
Subcommands are actually passed an `optparse_t *` object on which `parse_args` has already been called. I'll add some code that will detect this and return an error?

[2016-01-20 23:48] garlick commented on #519
Oops I just realized your work in #510 hasn't been merged, and so "subcommand" sent the wrong message.  This occurs on master, where `internal_content_store()` ignores the parsed command line and creates its own optparse_t for the subcommand.  I'm probably doing something silly there.

[2016-01-20 23:56] grondo commented on #519
Oh, oops. I could look at this this evening, but in #510 `content_*` are now subcommands of the `content` subcommand. (take a look and make sure that will work for you)

[2016-01-21 01:17] garlick commented on #519
That'll work.  We can table this if it's fixed in #510.

[2016-01-21 01:18] grondo commented on #519
Still should not have segfaulted, so I'd like to reproduce.. does this occur on current master?

[2016-01-21 01:33] garlick commented on #519
Yep
On Jan 20, 2016 5:18 PM, "Mark Grondona" <notifications@github.com> wrote:

[2016-01-21 15:41] grondo commented on #519
Oh ugh, this is a lame bug in `optparse.c` where I completely failed to initialize the final member of `struct option[]` array to be filled with zeros. Guess we just get lucky 99 times out of 10 ;-)

I'll push the following patch onto #510:
[code]

[2016-01-22 04:50] #519 closed

[2016-01-22 18:15] grondo opened #520 "Running `flux content` with no args crashes"
@garlick reported a segfault when running a subcommand-only utility with no subcommands.
The problem has been tracked down to missing `va_start` call in the new `optparse_fatal_usage()` function. Fix coming shortly.

[2016-01-22 22:59] #520 closed

[2016-01-23 01:25] dongahn commented on #469
This should be fixed w/ flux-sched PR [#109](https://github.com/flux-framework/flux-sched/pull/109). Closing.

[2016-01-23 01:25] #469 closed

[2016-01-23 01:28] dongahn commented on #502
As part of my next step, I should have a better handle on what needs to be done to test large scale configurations using a smaller fraction of resources. Until I can articulate more clearly what it is that we need, close this for now.

[2016-01-23 01:28] #502 closed

[2016-01-23 01:29] dongahn commented on #501
Ok. This has been addressed with PR #506. Closing.

[2016-01-23 01:29] #501 closed

[2016-01-23 01:36] dongahn commented on #512
If you see this issue more often and have a repro, please let me know. It does seem like a timeout was too short and perhaps it would be a matter of upping the threshold.

[2016-01-24 21:01] trws commented on #514
Is this ready to close?

[2016-01-25 16:06] grondo commented on #514
Ah, yeah, sorry about that.

[2016-01-25 16:06] #514 closed

[2016-01-26 00:28] lipari commented on #515
Sorry to reopen this issue, but I need to know whether the behavior I observe is by design or a bug:
Is libcompat intended to be included in libflux-core or does libcompat need to be added to the linked libraries when compatibility functions are used?  The behavior I observe is that libcompat must be added when compatibility functions are used and I want to make sure that is intended.

[2016-01-26 00:46] grondo commented on #515
I would assume only non-compat libflux API functions would be exported via libflux-core.so, so it makes sense that libcompat would be required in addition if you are using libcompat functions.

[2016-01-26 00:47] lipari commented on #515
Ok, that agrees with what I see.  Closing (again).

[2016-01-26 00:47] #515 closed

[2016-01-26 18:41] grondo opened #522 "flux --secdir option doesn't override environment"
It seems recently (likely in my `flux(1)` cmdline options rework) the handling of `flux --secdir` was broken and the cmdline option no longer overrides the environment. (Actually, I think before the recent changes, the environment was perhaps ignored)

This notably breaks `make check` when `FLUX_SEC_DIRECTORY` is set in the environment.

[2016-01-26 21:31] garlick opened #524 "potential problem using libev with zeromq inproc:// sockets"
According to zeromq/libzmq#1434 there is a problem with ZMQ_FD and inproc:// sockets.

Sockets between Flux broker and Flux comms modules are inproc, and both ends use a Flux event loop, which internally consists of libev with a "composite watcher" for zeromq sockets based on ZMQ_FD and ZMQ_EVENTS as outlined [here](http://funcptr.net/2013/04/20/embedding-zeromq-in-the-libev-event-loop/).

I don't

[2016-01-26 22:11] garlick commented on #524
There is currently no direct test coverage in Flux for [ev_zmq.h](https://github.com/flux-framework/flux-core/blob/master/src/common/libutil/ev_zmq.h), [ev_zmq.c](https://github.com/flux-framework/flux-core/blob/master/src/common/libutil/ev_zmq.c), the composite libev watcher for zeromq sockets.  We should add a standalone test that uses inproc sockets to ensure we find out sooner rather than late

[2016-01-27 00:04] grondo commented on #522
Should secdir work like this?

 * Config or internal default is the default
 * `FLUX_SEC_DIRECTORY` in environment overrides config default
 * `--secdir` used with `flux(1)` overrides `FLUX_SEC_DIRECTORY` and exports new `FLUX_SEC_DIRECTORY` to environment

I think before I mucked with `flux` cmdline opts it used to be that `FLUX_SEC_DIRECTORY` was ignored by `flux(1)` and `--secdir` overrode conf

[2016-01-27 17:14] grondo commented on #522
Ok, I think I understand behavior here a bit better, and I'm not sure anything changed recently.

I was incorrect in my assumption above that `make check` was breaking due to `FLUX_SEC_DIRECTORY` being set in environment  -- I apologize. What was happening is that I was running `make check` under an existing flux session from a different path, so `secdir` was being picked up by `flux(1)` from the

[2016-01-27 18:30] garlick commented on #522
Something to keep in mind is the local connector doesn't need the secdir; it uses a straight AF_UNIX socket and so_peercred for authorization.   The snoop utility connects to the broker with a zeromq ipc:// socket which requires access to keys, but it can get the secdir from the enclosing instance's config.

So for now I think you're right, the broker and keygen could get a `--secdir` argument.  I

[2016-01-27 19:00] grondo commented on #522
For now it might just be simpler to continue exporting `FLUX_SEC_DIRECTORY` from `flux`, but allow `--secdir` to override kvs config. This allows `flux-broker` and `flux-keygen` to continue to just do `getenv ("FLUX_SEC_DIRECTORY")` instead of potentially opening connection to kvs, etc...

[2016-01-27 22:24] #513 closed

[2016-01-27 23:16] #522 closed

[2016-01-29 22:15] garlick opened #527 "consider flux-python-binding project"
I wanted to float the idea of splitting the python bindings out of core.

There are two pain points resulting from having it in:
* python bindings have to track iterative flux-core api evolution
* when make check runs, python tests are the first ones that launch a comms session, so any disruption during development is first detected as a python binding failure, a little harder to run down than if

[2016-01-29 22:50] grondo opened #528 "consider adding `flux version` command"
Consider adding a `flux version` command that would, at a minimum, report the version of compiled `flux.c` command driver and, if running within a session, potentially the version of `flux-broker` for the enclosing instance.

We may also want a way to make this command extensible so that other framework projects that are currently in the default path for `flux(1)` could also report their versions?

[2016-02-01 20:31] garlick opened #530 "running installed flux under slurm 2.3.3 doesn't work"
The quickstart guide at http://flux-framework.github.io/docs/quickstart/ suggests to try:
[code]

This isn't working for flux-core-0.1.0 installed on RHEL7/TOSS3 with slurm-2.3.3:
[code]

[2016-02-01 20:45] garlick opened #531 "flux command driver eats subcommand options"
Running the broker via the flux command driver, broker options seem to be parsed by the flux command driver:
[code]

Here is the broker failing to parse the same option:
[code]

[2016-02-01 20:51] grondo commented on #531
Ah, oops! `flux broker` is a special case of a subcommand where we don't actually want to do automatic option processing, because all it does is exec another utility, passing along options. Let me look at this we might need a new option for optparse subcommands to handle this case

(And I'm embarrassed I missed this in the the earlier work)

[2016-02-01 20:57] grondo commented on #531
Hm, all `flux broker` does is set `PATH` to `flux-broker` path and then `execvp()`.
Is there some reason we did not move `flux-broker` into `FLUX_CMD_PATH` so it could be found by default? Then we don't need the extra level of indirection of a builtin `flux broker` calling `flux-broker`?

I'm fine with fixing the optparse issue too, and I'm probably missing the purpose of putting the flux-broker i

[2016-02-01 21:06] garlick commented on #531
Sounds fine with me.  Do you mean install flux-broker to `$(fluxcmddir)`?  How does that work in tree?

[2016-02-01 21:17] garlick commented on #530
This error: `flux-pmi: flux_open: Invalid argument` indicates that the Flux PMI client code is dlopening the Flux PMI  `/usr/lib64/flux/libpmi.so` instead of the SLURM one `/usr/lib64/libpmi.so`.

[2016-02-01 21:21] grondo commented on #531
Good question. Could we just add `FLUX_BROKER_PATH` to exec-path?

[2016-02-01 21:29] garlick commented on #531
Seems like that would do it.  I'll propose something on #526 unless you've already got something going.

[2016-02-01 21:32] grondo commented on #531
I started on something, but what is giving me pause is that this would apparently make it more difficult to run an alternate flux-broker, or flux-broker from another installation under a given `flux` command. I'm not sure if that is a problem or if I'm worried over nothing..

[2016-02-01 21:50] grondo commented on #531
You can propose something in #526 if you'd like. I'll concentrate of fixing the optparse bug specifically described here.

[2016-02-01 21:53] garlick commented on #530
On RHEL 7 / TOSS 3, `/etc/ld.so.conf.d/flux-libs.conf` adds `/usr/lib64/flux` to the system library search path.   That's going to cause problems for _all_ runtimes launched under SLURM that depend on dlopening libpmi.so.

The flux broker also prepends `/usr/lib64/flux` to `LD_LIBRARY_PATH` for the initial program.  It seems like `libpmi.so` needs to be in another directory and _that_ directory sh

[2016-02-01 21:58] garlick commented on #530
Actually what if we dispensed with the ld.so.conf file and installed our libs directly into /usr/lib64?

The /usr/lib64/flux would contain only the pmi library, and subdirs for connectors and modules.  Prepending /usr/lib64/flux to LD_LIBRARY_PATH in the initial program would cover flux launching anything else.

[2016-02-01 22:27] grondo commented on #530
The above sounds like the right solution. We already name our libs such that they should be able to go into a system library path. And the subdir for libraries found only within a flux session is a nice, clean, approach.

[2016-02-01 22:35] garlick commented on #531
Woudn't `flux --execpath` cover that use case?

[2016-02-01 22:43] grondo commented on #531
Yeah, good point. Or just `flux /path/to/my/flux-broker ...`

[2016-02-01 23:18] garlick commented on #530
These library names seem a bit too generic to me.   Should we consider conslidating them at least for installed flux?  Say to `libflux-core-extensions.so`?
[code]

[2016-02-01 23:26] grondo commented on #530
Oh, good point I forgot about those.

It would be nice if they were in their own subdirectory, but barring that, I prefer just prepending `libflux-` to each library (e.g. `libflux-barrier.so`) as it mirrors the naming convention of `libflux-core.so` and keeps all the symbols from different modules separate.

If we think about just lumping them together in one library, maybe we should consider just

[2016-02-01 23:47] garlick commented on #530
Renaming them may be the best short term option that we can execute without too much disruption.  I'll propose something in #526

[2016-02-02 03:48] grondo commented on #531
Both  the optparse issue and `flux broker` cmdline issue described should be fixed in master now with the merging of #532 and #526

[2016-02-02 03:48] #531 closed

[2016-02-02 16:51] garlick commented on #530
Closing since #526 was merged.

[2016-02-02 16:51] #530 closed

[2016-02-02 18:15] grondo opened #534 "clone of flux-core with --depth=1 can't be built"
The change to `git describe` for generating PACKAGE_VERSION has unfortunately broken the flux-sched travis build, which uses `git clone --depth=1` to grab a recent copy of flux-core and build it. The shallow clone appears to leave insufficient information for git describe and we get a list of errors:
[code]

[2016-02-02 18:17] grondo commented on #534
For now we may be forced to do a full clone of flux-core in the flux-sched repo. However, it would be good if we can enhance flux-core to allow a shallow clone build to work in some way.. Could we fall back to a version file if `git describe` fails?

[2016-02-02 18:23] garlick commented on #534
Would it be better to switch flux-sched to download a released version of flux-core like other travis dependencies?

[2016-02-02 18:25] grondo commented on #534
That might be a good long-term plan, but I'm worried it would be tricky during rapid development. We could much more easily break something and not find out until the next "release" is uploaded

[2016-02-02 18:27] grondo commented on #534
It would be easy for now to just do a full clone for flux-sched, but this specific bug should be addressed somehow. I don't think it is good practice to require a full clone to build from master... or any non-tagged version for that matter.

[2016-02-02 18:35] grondo commented on #534
Though I'm beginning to see more benefits to framework projects building from a tarball as you say. This would give them a stable target to build against while they do development, then there could be a "porting" period before a framework project like sched moves to the next release.

If we do this, I would suggest we have a "prerelease" process for flux-core, so that any bugs found during a port

[2016-02-02 18:53] lipari commented on #534
I'm in favor of leaving the clone of flux-core in for now.  As commented above, it helps to identify issues sooner.  This also allows users who make changes to flux-core to immediately trigger a flux-sched build to see whether something breaks.

[2016-02-02 19:04] garlick commented on #534
OK by me for now.

[2016-02-02 19:08] garlick opened #536 "flux hwloc reload kills broker if xml files not found"
[garlick@upgrade2:~]$ flux start
[1454440022.094921] broker.info[0]: nodeset: 0 (complete)
[1454440022.095163] broker.info[0]: starting initial program
[garlick@upgrade2:~]$ mkdir /tmp/xml
[garlick@upgrade2:~]$ flux hwloc reload /tmp/xml
[1454440042.583904] resource-hwloc.info[0]: loading hwloc from /tmp/xml/0.xml
[1454440042.584137] resource-hwloc.err[0]: resource.c:54:negative integer from:hwloc

[2016-02-02 19:35] dongahn commented on #536
@garlick: Should this should be fixed at the resource-hwloc module level or flux hwloc front end or both?

[2016-02-02 19:39] garlick commented on #517
I did verify `flux_rpc_completed()` works as advertised when one or more RPCs receives a failure response from the service, and I have tests for this which I'll submit in a PR.

I think the problem is that for the particular code in question (`flux-hwloc reload`), the remote service doesn't return RPC failures when there is a problem; it simply exits taking down the broker as reported in issue #53

[2016-02-02 19:42] garlick commented on #536
IMHO it should be fixed at the service (resource-hwloc) end.

[2016-02-02 21:24] #528 closed

[2016-02-02 21:31] grondo commented on #536
Should we remove `FLUX_CHECK_INT` and `flux_log_check_int` from any modules? It doesn't make sense to call exit() in module context...

[2016-02-02 21:36] garlick commented on #536
Yes probably.

[2016-02-02 22:40] #517 closed

[2016-02-02 23:39] lipari opened #538 "cannot find -lpgm"
I'm suddenly seeing this error building on ipa:
[code]

[2016-02-03 00:29] dongahn commented on #538
ipa15{dahn}70: rpm -qa | grep pgm

pygpgme-0.1-18.20090824bzr68.el6.x86_64

openpgm-5.1.118-3.el6.x86_64

gpgme-1.1.8-3.el6.x86_64

gpgme-devel-1.1.8-3.el6.x86_64

Do we need openpgm dev package installed on LC systems as well?

Still baffled why this only shows up now…

Dong

From: Don Lipari <notifications@github.com<mailto:notifications@github.com>>
Reply-To: flux-framework/flux-core <reply@rep

[2016-02-03 00:52] grondo commented on #538
Yeah, I think the openpgm-devel package just got dropped somehow.

I'll request it get officially added.

[2016-02-03 01:47] lipari commented on #538
It is still on upgrade.
[code]

[2016-02-03 02:27] grondo opened #540 "Clean up use of exit() from modules"
The following modules apparently use `msg`||`err_exit` and thus will cause broker to hard exit on failure. These should be replaced with `flux_log` based error messages and either exit `mod_main` or send failure RPC message:
[code]

[2016-02-03 02:28] grondo commented on #540
FYI I'm working on the major violators here: `wrexec` and `job`

[2016-02-04 01:20] lipari commented on #538
openpgm-devel has been installed on hype and will be in the next TOSS 2.4-7.  It was never in TOSS 2, and it remains a mystery why it was suddenly needed.

[2016-02-04 17:19] garlick opened #542 "flux-exec possibly exits before stdio has been processed"
We should probably investigate the source of these Broken pipe errors originating from the local connector.  Should these be considered routine and not logged as errors?  Are we missing a SIGPIPE handler somewhere?  Is some utility code missing a `flux_close()`?

Run

[code]

See

[code]

and

[code]

[2016-02-04 17:46] garlick commented on #540
Partially fixed by PR #541 (wreck) and PR #539 (live, barrier)

[2016-02-04 17:48] garlick commented on #536
Fixed in `resource-hwloc` in #539

[2016-02-04 17:48] #536 closed

[2016-02-04 18:36] grondo commented on #542
I see this sometimes too and attributed it to early exit from API user due to error or other condition. Do we really want to require all API users to ensure `flux_close()` for all error and abnormal exit paths? I thought the api-disconnect event was a good solution to that. However, I agree for normal exit flux_close should probably be used...

[2016-02-04 19:19] garlick commented on #542
I added a bit of debugging, and in the above tests this is what I see:
[code]

I'm not sure if that indicates a problem or not.  Meanwhile, I'd vote for demoting the log level to 'debug' while adding the expanded info.

[2016-02-04 20:12] garlick commented on #538
Ah, it looks like the new zeromq4 package, built on Jan 4, installed on ipa Feb 2, included the libtool .la file, e.g.
[code]
and inside it is
[code]

So it's my fault.  I'll re-roll zeromq for TOSS 3 and TOSS 2.

[2016-02-04 20:17] lipari commented on #538
one more mystery bites the dust.

[2016-02-04 20:20] dongahn commented on #538
I noticed that too. But is that libtool archive included because we built our own RPM or is it part of prebuilt rpm available out there?

[2016-02-04 20:21] garlick commented on #538
I built that rpm.  It is my bad.

[2016-02-04 20:25] dongahn commented on #538
Thank you for looking further into this @garlick!

[2016-02-04 20:35] garlick commented on #538
No problem.

I built zeromq4-4.1.4-2 with this fix and requested it to be updated in the next TOSS2  release by reopening TOSS-3065.

[2016-02-04 21:22] garlick commented on #538
TOSS3 done as well, ticket is TOSS-3064.  I'm going to re-close this one.

[2016-02-04 21:22] #538 closed

[2016-02-04 21:57] grondo commented on #542
I'm not sure if this is a problem either, but we could possibly be losing data if `flux exec` exits before all IO is closed, so it is something to look into.

[2016-02-05 00:09] lipari opened #545 "/usr/lib64/flux-core/build/t/fluxometer.lua"
In testing flux-sched on upgrade and using the installed locations, the flux-sched/t/lua tests fail.  It appears to at least involve the following definition build into /usr/lib64/flux-core/build/t/fluxometer.lua:

local top_srcdir = "/builddir/build/BUILD/flux-core-0.1.0"
local top_builddir = "/builddir/build/BUILD/flux-core-0.1.0"

These locations appear to be placeholders and need to be updated

[2016-02-05 00:17] grondo commented on #545
Ah, good catch. Thanks... Will have to think about how to handle this one...

[2016-02-05 23:29] grondo opened #547 "hwloc: lstopo(1) segfault with flux topology xml from session sizes 5, 7, and above"
`lstopo` appears to segfault using `flux lstopo` or the new `flux hwloc lstopo` for session sizes above 5 (but not including 6 for some reason). So far this was tested only on one platform (hype), so it could be platform specific.

Reproducer

[code]

[2016-02-06 01:00] garlick commented on #547
No problem running the reproducer a dozen or so times on flux-core-0.1.0 on RHEL6 (my desktop).

As an aside `lstopo` is not included in `hwloc-1.7-5.el7.x86_64` on our RHEL7 box.  It does include `lstopo-no-graphics`.

[2016-02-06 01:07] garlick commented on #547
Found this in `rpm -q --changelog hwloc`.  Sorry for the noise
[code]

[2016-02-06 01:18] grondo commented on #547
Hm, I wonder if we should fallback to `lstopo-no-graphics` in `flux hwloc lstopo` if `lstopo` is not found?

[2016-02-06 01:20] garlick commented on #547
That sounds good to me.

[2016-02-06 19:33] garlick opened #548 "update sophia to release 2.1"
Sophia release [2.1](https://github.com/pmwkaa/sophia/releases/tag/version_2.1) is available.

[documentation](http://sophia.systems/v2.1/index.html) seems much improved.

[2016-02-07 20:31] garlick opened #549 "kvs-watch-until.lua:63: [string "callback"]:1: attempt to index local 'v' (a nil value)"
While trying to elicit a different failure (sophia content store hang) in pr #543  by rerunning travis-ci tests many times, I ran across this failure which I don't recall seeing before.  Maybe a low frequency intermittent failure?
[code]

[2016-02-08 14:29] garlick commented on #549
I hit this again in travis-ci in the same branch, FWIW.

[2016-02-08 14:44] grondo commented on #549
I've been trying to reproduce this one (looks like I neglected to open an issue on it, sorry and thanks for doing it).

The only way this can happen (seemingly) is if the kvs watcher lua binding gets returned a `nil` value for the watch object, but I've never seen this happen outside of travis.. This invocation is watching `conf.live.status` so maybe travis is slow enough that `kvs_watch` returns

[2016-02-08 15:26] garlick commented on #549
Just as a data point, the "nodeset complete" messages that you get on start-up, and which synchronizes the start of the initial program is unrelated to the `conf.live.status` entry in the KVS, which could well be uninitialized when the initial program runs.

[2016-02-08 16:52] grondo commented on #549
Ah, thanks, I wasn't sure about that.

[2016-02-08 19:03] trws commented on #363
I realize we haven't talked about this in a while, but while at the JOWOG this past week I had rather more time for abstract thought (not staring at a computer) than I have in a while, and for some reason this was on my mind.  If I set something up for this, that looks on the outside like (and is) regular function calls, but allows for dynamic polymorphism inside the interface, would that be of in

[2016-02-08 19:06] trws commented on #363
Oh the fourth option was to use a code-generation approach for the trampolines other than the macro system.  ZMQ recommends GSL for this, and it works, but I thought that would generate even less appeal than the others seemed likely to somehow...  Sorry if I'm annoying about this stuff by the way, trying to wrap my brain around making some of the dynamic stuff, like graph creation and manipulation

[2016-02-08 19:45] trws commented on #547
Definitely.  I hadn't seen the name change, but that's definitely the way to go.  I'm curious what's going on with that segfault though, I'll try some things to reproduce but haven't run into it before.

[2016-02-08 20:28] trws commented on #527
Could those two pain points be alleviated by building and testing the bindings after the sharness tests are run?  I suppose not since the lua bindings are actually in the sharness tests, but I suppose that brings up the subsequent question, could it be solved by using sharness for the python tests with numbering such that they're run last?  Either of these would seem less disruptive, at least to m

[2016-02-08 20:30] trws commented on #540
I think the resource-hwloc module has this issue also.  Is there a way, from a reactor callback, to register a failure with the reactor and cause it to kill the module rather than the full system?  Perhaps that's what an error RPC does?

[2016-02-08 21:05] trws commented on #538
Is this working for others on hype and IPA right now? I'm having issues getting the current version to build on either one.

[2016-02-08 21:41] trws commented on #538
Also on rzalastor...

[2016-02-08 21:47] lipari commented on #538
Try hype.  It will go everywhere once TOSS 2.7 is released, but for now, I believe Trent only installed it  on hype login nodes.

[2016-02-08 21:49] #549 closed

[2016-02-08 21:52] trws commented on #538
Is it somewhere that I need to specify a path? I don't mind doing that, but it's still breaking out of the box on hype right now.  I guess that also needs to go into the spack package, suppose I'll do that in the meantime.

[2016-02-08 22:16] dongahn commented on #538
Perhaps you can have create a symlink in the build directory (libpgm.so) where the linking is failing?

The symlink points to of course the number-versioned libpgm shared library?

[2016-02-08 22:18] lipari commented on #538
If you haven't already, try running:
[code]

[2016-02-08 22:33] trws commented on #538
Thanks @lipari.  That works for me on hype.  It seems interesting to me
that the pgm library is coming in due to loading those modules though.
I was using a speck-built python with cffi and pycparser available, but
it failed on `-lpgm` until those modules were loaded.

On 8 Feb 2016, at 14:29, Don Lipari wrote:

[2016-02-08 22:36] garlick commented on #538
Is `zeromq4-4.1.4-2` installed on hype?  That should fix this.  Release 1 of that package included the libtool .la files which makes libzmq's transitive dependencies visible to libtool when libflux-core is built.

[2016-02-08 22:39] trws commented on #538
Or, at least, it builds but I can't actually run it on hype now...
Somehow it works on the login node with those modules, but not on the
compute nodes.  I must be doing something wrong here...

On 8 Feb 2016, at 14:29, Don Lipari wrote:

[2016-02-08 22:44] garlick commented on #538
I'd check `rpm -q zeromq4` on both login and compute nodes.

You might have to rebuild core and anything built on top of it if you picked up -lpgm before.

[2016-02-08 22:53] trws commented on #538
Nope, all of hype, ipa and rzalastor are running 4.1.4-1.  Evidently cab
is using an older 4.0.5, and that seems to work ok.

On 8 Feb 2016, at 14:41, Jim Garlick wrote:

[2016-02-08 23:06] garlick commented on #538
Really sorry for the trouble this caused, especially if it takes a while for those systems to get updated!

Anyway, the source of the problem is libzmq so if you want to work around it on these systems, you'll probably have to build your own side-installed copy like `travis-dep-builder.sh`.  Alternatively I guess you could do the same with openpgm.

[2016-02-08 23:08] trws commented on #538
Ok.  I can build a new environment with spack, actually that's probably
why I only just noticed.  My spack tree got corrupted last night and I
cleared it, must not have rebuilt all the internal flux dependencies
yet. =/

Either way, at least I have some tests running on cab now.  I wanted to
get a look at the memory and storage expansion with the new content
modules as compared to the hash one to

[2016-02-08 23:17] garlick commented on #538
ah good.  See pr #543 which includes some fixes along those lines, including
* load content-sqlite by default
* provide a mechanism to redirect its db files to file system of your choosing (since /tmp is often a ramdisk)

[2016-02-08 23:57] trws commented on #462
Using sqlite this seems to be addressed.  I'm going to get some numbers on the file sizes, but it looks like this will be closable shortly. Nice work @garlick!

[2016-02-09 01:55] lipari opened #551 "wrong directory for installed objects"
This is a preliminary finding and I have not explored it thoroughly, but there appears to be a discrepancy between the location of the flux library objects and where make install actually puts them.

I started with
[code]

The pkg-config reports that the libraries should be in:
FLUX_CORE_LIBS...: -L/g/g0/lipari/local/lib/flux

But "make install" installs them here:
/g/g0/lipari/local/lib

[2016-02-09 03:12] garlick commented on #551
I think you're right, the pc file wasn't updated when we moved the libs out of the flux subdir in #526.

[2016-02-09 03:33] trws commented on #363
Alternative that uses an almost go-like interface building interface.  This actually requires "registration" of an interface in each implementer, but could be tweaked relatively easily to do something similar to go's runtime duck typing, it would just require an array of names or selectors and offsets into the structure of function pointers representing the interface and a cast function rework.  P

[2016-02-09 15:33] lipari commented on #551
Thanks for the pointer.  I'll have a look...

[2016-02-09 15:54] grondo commented on #551
You should be able to just remove `/flux` from `libdir` in the flux-core.pc.in.
However, the extra `-L/usr/lib64/flux` shouldn't be harming anything... if it makes the build fail there might be something else going on.

[2016-02-09 16:08] garlick commented on #551
I think @lipari is installing to a non-standard prefix where the correct -L would  be required.

[2016-02-09 17:34] grondo commented on #545
I'm still vacillating on whether to try to make `fluxometer.lua` usable externally to a project or to suggest that we should just pull `fluxometer.lua` and `Test.More` into flux-sched (as we had to do for `sharness.sh`).

Let me ponder this a little while more... There might be some benefits to pushing `fluxometer.lua` under the flux Lua path, but I'm not sure it would be used more than just in fl

[2016-02-09 18:30] grondo commented on #551
Ah, Good point. I was going off `/usr/lib64/flux`.

[2016-02-10 05:30] lipari opened #553 "'/home/travis/.flux' does not exist. Have you run `flux keygen`?"
The latest push of the autotools_conversion branch fails travis when it tries to run the flux-sched/t tests with the message below.  That's a new one for me.  It worked fine on hype before I pushed the branch.  Is this something obvious to anyone?
[code]
The build log is here:  https://travis-ci.org/lipari/flux-sched/jobs/108203506

[2016-02-10 14:05] grondo commented on #553
I think this is because you are testing flux-sched against *installed* flux-core, which then looks for keys in `$HOME/.flux` instead of `$top_builddir/etc/flux/curve/`. Part of the flux-core testsuite runs `flux keygen` so you might have to add that to the flux-sched testsuite.

[2016-02-10 15:30] grondo commented on #545
Ok, I'll have a PR up momentarily which creates an installed version of `fluxometer.lua`, usable by external projects. You wouldn't point at the "build" version of fluxometer.lua, but instead use `fluxometer` from the standard Lua path.

[2016-02-10 16:41] lipari commented on #553
That was it!  Thanks!

[2016-02-10 16:41] #553 closed

[2016-02-10 17:21] garlick opened #555 "attribute interface in the broker needs redesign"
In PR #543, a broker option `--setattr` was added.   This creates some problems that were not addressed in that PR:
* There is no restriction on what attributes can be set on the broker command line, thus an attribute misspelling will not be detected
* The code for handling an initial attribute value (from the command line) complicates code for registering new attributes.
* The attribute request h

[2016-02-10 17:48] lipari commented on #551
Closed with merge of [PR 552](https://github.com/flux-framework/flux-core/pull/552)

[2016-02-10 17:48] #551 closed

[2016-02-10 18:36] lipari opened #556 "flux-core build discrepancy"
I have a discrepancy between two builds of flux-core from flux-sched in my latest push.  My personal travis builds succeed:

https://travis-ci.org/lipari/flux-sched/jobs/108337964
https://travis-ci.org/lipari/flux-sched/jobs/108337966

but both builds of the flux-framework build of the same branch fail - in the same place:

https://travis-ci.org/flux-framework/flux-sched/jobs/108337979
https://tra

[2016-02-10 19:13] #545 closed

[2016-02-10 20:05] lipari commented on #556
After finding no discernible differences between the two builds, I blew away the caches from both and rebuilt.  And all succeeded!

[2016-02-10 20:57] garlick commented on #527
I'm not sure how much work it would be @trws, but if we could move the python tests that require a running instance to sharness, numbered to run late, that would help a lot.  The lua tests already work this way.

[2016-02-10 21:22] trws commented on #527
It would take some refactoring, but probably just a couple of hours of concentrated work.  I'll check into it and see if I can make that change.

[2016-02-10 22:15] trws commented on #527
Well, my estimate was wrong.

For once, in a pleasant direction. =)

PR coming in a couple of minutes with a *minimal* patch to run python tests after all other tests.  It may need extra poking with, because my environment is a little wonky right now, but it does run the python tests, and runs them dead last.

[2016-02-11 17:48] lipari commented on #556
The problem has returned!  Just submitted [PR 558](https://github.com/flux-framework/flux-core/pull/558) to attempt to address this cause.

[2016-02-11 19:33] lipari commented on #545
BTW, thanks for this, @grondo. It worked great!

[2016-02-11 21:24] grondo commented on #545
Nice. Thanks for the feedback. :-)

[2016-02-11 23:30] garlick opened #559 "handle mod_main() fatal errors"
The `mod_main()` function in a comms module returns 0 on success and -1 on failure.
Currently this information is logged (enhanced slightly in rp #543), but in some (all?) cases, a return -1 should be fatal to the session.

Consider whether fatal on return of -1 is correct, document it in rfc 5, and implement the fatal error path.

[2016-02-11 23:32] garlick opened #560 "add tests for failover/reparenting"
As noted in pr #543 there is a logging problem with failover/reparenting
[code]
There are also no tests of this facility.

[2016-02-11 23:34] garlick opened #561 "lt-flux-broker: src/zuuid.c:82: zuuid_new: Assertion `0' failed"
As noted by @grondo in pr #543, we've hit this zuuid assertion:

[2016-02-12 00:21] grondo opened #562 "Fix up AM_CPPFLAGS in flux-core"
In flux-core we need to ensure `-I$(top_srcdir)/src/include` comes before any other `-I` options in `AM_CPPFLAGS` so that we don't accidentally pull in a system `flux/core.h` as in #558.

[2016-02-12 00:22] lipari commented on #556
Closed.  See explanation in dialog to [PR 558](https://github.com/flux-framework/flux-core/pull/558)

[2016-02-12 00:22] #556 closed

[2016-02-12 00:31] #259 closed

[2016-02-12 18:42] garlick opened #564 "configure should find lstopo"
The hwloc tests started failing today on my c9.io environment (presumably due to recent improvements to the test), and it turns out I didn't have the hwloc deb installed, so `lstopo` was not found.

Should configure look for lstopo (and its text-only alternative), set path for the subcommand to use, and possibly abort if none found?

[2016-02-12 18:58] grondo commented on #564
I'm not sure we should require `lstopo` (or `lstopo-no-graphics`) for the flux build. It shouldn't even be a *requirement* for the test (there is already a `LSTOPO` prereq which skips tests requiring `lstopo` or `lstopo-no-graphics`). However, there is a bug in the test in that we use `flux hwloc lstopo` to wait for `resource-hwloc` to be ready -- this should be replaced with `flux hwloc topology`

[2016-02-12 19:03] grondo commented on #564
Wait, perhaps I misunderstood. How did your build of `resource-hwloc` work if `hwloc` wasn't installed? Are you using a side-installed version? (So `lstopo` was there, but not in `PATH`?)

[2016-02-12 19:20] garlick commented on #564
Looks like `libhwloc` is a separate deb from `hwloc` so I had the former but not the latter.

Optional is fine.

[2016-02-12 19:27] grondo commented on #564
Ah, ok, thanks for the clarification.